// // // // //
//
// For Equipment Details in the Warband Builder
// - currently in add equipment modal
// - play mode equipment could be refactored to use this
//

.WbbEquipmentDetails
    //background-color: $bg-color-card-3
    font-size: 14px
    table
        width: 100%
    td
        padding: 10px 15px
        border-bottom: 1px solid $color-bg-1

        &:last-child
            border-left: 1px solid $color-bg-1

    .keywords-wrap
        padding: 10px 15px 10px 15px
        p
            margin: 0
    .rules-wrap
        margin: 5px 0
        padding: 5px 15px


    .text-label
        font-weight: bold
        margin-bottom: 3px

    .rules
        .description-element
            > p:last-of-type
                margin-bottom: 5px