

.WbbPostGameDetailElite


    .WbbPostGameDetailElite-injuries
        margin-bottom: 15px
    .WbbPostGameDetailElite-experience
        margin-bottom: 15px

    .xp-boxes
        margin-bottom: 15px

    #customxp
        max-width: 150px