

.WbbPostGameDetailExploration
    .expl-location-table-link
        color: $color-highlight-text
        cursor: pointer

        &:hover
            text-decoration: underline

    .exploration-roll-wrap
        display: flex
        line-height: 38px

        .form-control
            margin-right: 10px
            max-width: 100px

        .multiplier
            display: inline-block
            margin-right: 5px

    .location-details
        background-color: $color-bg-4
        padding: 10px
        border-left: 3px solid $color-highlight-bg-2

        .location-name
            font-weight: bold
        .location-id
            font-style: italic
            margin-bottom: 10px
        .location-description
            font-size: 14px
