



h1, h2, h3, h4
    font-family: $font-headline

h1
    font-size: $font-size-h1
    margin-top: 30px
    margin-bottom: 30px

h2
    font-size: $font-size-h2

h3
    font-size: $font-size-h3


a
    color: $color-highlight-text

    &:hover
        color: $color-highlight-text
        text-decoration: underline

.container
    margin: 0 auto


.spacer-20
    height: 20px

// icon near text - right side
.icon-inline-left
    font-size: .75em
    margin-right: 8px
    vertical-align: middle


// icon near text - right side - small
.icon-inline-left-s
    font-size: .65em
    margin-right: .3em
    vertical-align: middle

// icon near text - right side - small
.icon-inline-left-l
    font-size: 1em
    margin-right: .3em

// icon near text - right side
.icon-inline-right
    font-size: .75em
    margin-left: 8px
    vertical-align: middle


// icon near text - right side - small
.icon-inline-right-s
    font-size: .65em
    margin-left: .3em
    vertical-align: middle


// icon near text - right side - small
.icon-inline-right-l
    font-size: 1em
    margin-left: .3em

.popup-trigger-text
    cursor: pointer
    text-decoration: underline dotted


.rules-card
    margin-bottom: 40px

    .rules-card-title
        padding: 5px 15px
        background-color: $color-highlight-bg
        font-size: $font-size-h3
        font-family: $font-headline

    .rules-card-content
        background-color: $color-bg-2
        padding: 15px

        // Rules Cards that contain only a table
        &.rules-card-table-content
            padding-top: 0
            padding-bottom: 0

    .rules-card-table
        width: calc(100% + 30px)
        margin-left: -15px
        margin-right: -15px
        background-color: $color-bg-2

        th
            white-space: nowrap

        th,
        td
            vertical-align: top
            padding: 15px
            border: 1px solid $color-bg-1

        td
            background-color: $color-bg-2

        .label-cell
            font-weight: bold


.ghost-image
    position: relative
    overflow: hidden

    animation-duration: 2.2s
    animation-fill-mode: forwards
    animation-iteration-count: infinite
    animation-name: ghost-shimmer
    animation-timing-function: linear
    background: linear-gradient(to right, rgba(255,255,255,0) 8%, rgba(255,255,255,0.1) 18%, rgba(255,255,255,0) 33%)
    background-size: 1200px 100%

@keyframes ghost-shimmer
    0%
        background-position: -1200px 0

    100%
        background-position: 1200px 0

