

h1
    font-family: $font-headline
    font-size: 32px
    margin-top: 30px
    margin-bottom: 30px


a
    color: $link-color

    &:hover
        color: $link-color-hover

// icon near text - right side
.icon-inline-left
    font-size: .75em
    margin-right: 8px
    vertical-align: middle


// icon near text - right side - small
.icon-inline-left-s
    font-size: .65em
    margin-right: .3em
    vertical-align: middle

// icon near text - right side - small
.icon-inline-left-l
    font-size: 1em
    margin-right: .3em

// icon near text - right side
.icon-inline-right
    font-size: .75em
    margin-left: 8px
    vertical-align: middle


// icon near text - right side - small
.icon-inline-right-s
    font-size: .65em
    margin-left: .3em
    vertical-align: middle


// icon near text - right side - small
.icon-inline-right-l
    font-size: 1em
    margin-left: .3em

.popup-trigger-text
    cursor: pointer
    text-decoration: underline dotted