// // // // //
//
// Theme Styles (v2.3+)
//


html,
[data-theme='light']
    --colour_default_main: $red-tc

    --colour_red_main: #EE220C
    --colour_green_main: #61D836
    --colour_yellow_main: #FEAE00
    --colour_blue_main: #00A2FF

    --colour_grey_main: #808080

    --colour_bg_base: #f8f8f8
    --colour_bg_card: #eeeeee

    --colour_basic_text: #{$black}
    --colour_bg: #{$white}

    --colour_highlight_text: $white

[data-theme='dark']
    --colour_default_main: $red-tc

    --colour_red_main: #EE220C
    --colour_green_main: #61D836
    --colour_yellow_main: #FEAE00
    --colour_blue_main: #00A2FF

    --colour_grey_main: #808080

    --colour_bg_base: #333333
    --colour_bg_card: #222222

    --colour_basic_text: #{$white}
    --colour_bg: #{$black}
    --colour_highlight_text: #000000


// // // // //
//
// global styles based on theme settings
//

[data-theme]
    background-color: var(--colour_bg)
    color: var(--colour_basic_text)




// // // // //
//
// Override default Bootstrap variables with project specifics
//
*
    --bs-body-color: var(--colour_basic_text)
    --bs-offcanvas-color: var(--bs-body-color)

