// // // // //
//
// Theme Styles (v2.3+)
//


// // // // //
// Light Theme
body[data-theme='light']

    --colour_yellow_main: #FEAE00
    --colour_blue_main: #00A2FF
    --colour_green_main: #27ae60

    --colour_grey_main: #808080

    --colour_bg_base: #f8f8f8
    --colour_bg_card: #eeeeee




    --colour_bg: #{$white}
    --colour_bg_inverted: #{$black}
    --colour_bg_inverted-75: #{$black-75}
    --colour_bg_inverted-50: #{$black-50}
    --colour_bg_inverted-25: #{$black-25}
    --colour_border: #{$border-light}
    --colour_card_headline: #{$border-light}

    --colour_highlight_text: $white


    // v2 Styles

    // BG Color Hierarchy
    --color_bg_lvl_minus_1: #fff
    --color_bg_lvl_0: #fcfcfc
    // Main BG Color
    --color_bg_lvl_1: #fafafa
    --color_bg_lvl_2: #f0f0f0
    --color_bg_lvl_3: #dedede
    --color_bg_lvl_4: #cccccc

    // Card BG Color Hierarchy
    --color_bg_card: var(--color_bg_lvl_2)
    --color_bg_card_2: var(--color_bg_lvl_3)
    --color_bg_card_2_el: var(--color_bg_card)
    --color_bg_card_2_el_border: var(--color_bg_lvl_1)
    --color_bg_card_3: rgba(0,0,0,0.075)

    // Highlights
    --color_highlight_bg_2_50: rgba(180,24,27,0.25)
    // deeper bg color
    --color_highlight_bg_2: #b4181b
    --color_highlight_bg_3: #5b2122
    --color_highlight_bg: #fa1c23
    --color_highlight: #d01317
    --color_highlight_text: #9b1518

    // Fonts
    --color_font_main: #000
    --color_font_muted: #2a2a2a

    // Shadows
    --box_shadow_1: 0px 0px 5px -1px rgba(0,0,0,0.45)

// // // // //
// Dark Theme
body[data-theme='dark']

    --colour_yellow_main: #FEAE00
    --colour_blue_main: #00A2FF
    --colour_green_main: #27ae60

    --colour_grey_main: #808080

    --colour_bg_base: #333333
    --colour_bg_card: #222222


    --colour_bg: #{$black}
    --colour_bg_inverted: #{$white}
    --colour_bg_inverted-75: #{$white-75}
    --colour_bg_inverted-50: #{$white-50}
    --colour_bg_inverted-25: #{$white-25}

    --colour_border: #{$border-dark}
    --colour_card_headline: #{$border-light}

    --colour_highlight_text: #000000

    // v2 Styles

    // BG Color Hierarchy
    --color_bg_lvl_minus_1: #000
    --color_bg_lvl_0: #111
    // Main BG Color
    --color_bg_lvl_1: #2a2a2a
    --color_bg_lvl_2: #333
    --color_bg_lvl_3: #404040
    --color_bg_lvl_4: #464646

    // Card BG Color Hierarchy
    --color_bg_card: var(--color_bg_lvl_2)
    --color_bg_card_2: var(--color_bg_lvl_3)
    --color_bg_card_2_el: var(--color_bg_card)
    --color_bg_card_2_el_border: var(--color_bg_lvl_1)
    --color_bg_card_3: rgba(255,255,255,0.2)


    // Highlights
    // deeper bg level
    --color_highlight_bg_2_50: rgba(135,18,20,0.25)
    --color_highlight_bg_2: #871214
    --color_highlight_bg_3: #5b2122
    --color_highlight_bg: #9b1518
    --color_highlight: #d01317
    --color_highlight_text: #fa1c23

    // Fonts
    --color_font_main: #fff
    --color_font_muted: #ddd

    // Shadows
    --box_shadow_1: 0px 0px 6px -1px rgba(0,0,0,0.8)

// // // // //
// set sass variables to use variable colors
// - This makes wirting styles much easier

$color-bg: var(--colour_bg)
$color-bg-inv: var(--colour_bg_inverted)


// v2 colors:
$color-text: var(--color_font_main)
$color-text-muted: var(--color_font_muted)

$color-highlight-bg-3: var(--color_highlight_bg_3)
$color-highlight-bg-2-50: var(--color_highlight_bg_2_50)
$color-highlight-bg-2: var(--color_highlight_bg_2)
$color-highlight-bg: var(--color_highlight_bg)
$color-highlight: var(--color_highlight)
$color-highlight-text: var(--color_highlight_text)

$color-bg-m1: var(--color_bg_lvl_minus_1)
$color-bg-0: var(--color_bg_lvl_0)
$color-bg-1: var(--color_bg_lvl_1) // main BG color
$color-bg-2: var(--color_bg_lvl_2)
$color-bg-3: var(--color_bg_lvl_3)
$color-bg-4: var(--color_bg_lvl_4)

$box-shadow-1: var(--box_shadow_1)

// Global BG Color of a card
$bg-color-card-1: var(--color_bg_card)
// BG Color of card elements one level deeper (level 2)
$bg-color-card-2: var(--color_bg_card_2)
// BG Color of Elements inside cards level 2
$bg-color-card-2-el: var(--color_bg_card_2_el)
$bg-color-card-2-el-border: var(--color_bg_card_2_el_border)
// BG Color of Addons to elements of card level 2
$bg-color-card-3: var(--color_bg_card_3)

$green: var(--colour_green_main)

// // // // //
// global styles based on theme settings
body[data-theme]
    background-color: $color-bg-1
    color: $color-text
    font-family: $font-paragraph

    margin: 0
    font-size: 1rem
    font-weight: 400
    line-height: 1.5
    -webkit-text-size-adjust: 100%
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)


// // // // //
// Bootstrap color theming
.trench-companion
    .offcanvas
        background-color: $color-bg-1
        color: $color-text

        .offcanvas-header
            background-color: $color-highlight-bg
            color: #fff

        .offcanvas-title
            .offcanvas-close
                position: absolute
                top: 50%
                transform: translateY(-50%)
                right: 0
                height: 40px
                width: 40px
                text-align: center
                line-height: 40px
                cursor: pointer
                color: $color-text

    .modal-dialog
        .modal-content
            background-color: $color-bg-2
            color: $color-text

        .modal-header
            position: relative
            background-color: $color-highlight-bg
            border-bottom-color: $color-bg-1

            .modal-close-icon
                position: absolute
                top: 50%
                transform: translateY(-50%)
                right: 0
                padding: 20px


        .modal-footer
            border-color: $color-bg-1

    .form-text
        color: $color-text-muted

// Form check general
.form-check
    > input,
    > label
        cursor: pointer

// Switches
.form-check.form-switch

    margin-bottom: 10px

    .form-check-input
        height: 1.25em
        margin-top: 0.125em
        width: 2.5em
        margin-right: 5px

    .form-check-input:checked
        background-color: $color-highlight
        border-color: $color-highlight

    .form-check-input:focus
        border-color: $color-highlight-bg
        outline: 0
// Checkboxes
.form-check-input[type=checkbox]:checked
    background-color: $color-highlight
    border-color: $color-highlight

// form control
input.form-control
    border-radius: 0

.input-group
    .input-group-text
        border-radius: 0

// Buttons re-styling
.btn
    border: none !important
    border-radius: 0  !important

    &.btn-block
        display: block
    &:hover

.trench-companion a.btn
    &:hover
        text-decoration: none

.btn.btn-primary
    background-color: $color-highlight-bg !important
    color: $color-text
    outline: none

    &:hover
        background-color: $color-highlight-bg-2
        color: $color-text

    &:active,
    &:focus
        background-color: $color-highlight !important

    &:disabled,
    &.disabled
        opacity: 0.5
        background-color: $color-highlight-bg

.btn.btn-primary.perma-active
        background-color: $color-highlight !important
        color: $color-text

.btn.btn-tertiary
    background-color: $color-highlight-bg-2
    color: $color-text
    outline: none

    &:hover
        background-color: $color-highlight-bg-2-50
        color: $color-text

    &:active,
    &:focus
        background-color: $color-highlight !important

    &:disabled,
    &.disabled
        opacity: 0.5
        background-color: $color-highlight-bg-2


.btn.btn-secondary
    color: #fff

    &:hover
        color: currentColor
        text-decoration: none

body.trench-companion .popover
    border-radius: 0
    border: none

    box-shadow: $box-shadow-1
    background-color: $color-bg-2

    .popover-headline
        padding: 5px 15px
        background-color: $color-highlight-bg
        color: $color-text
        font-size: 18px

    .popover-content
        padding: 15px 15px
        font-size: 16px

    .popover-arrow

        &:before,
        &:after
            border-top-color: $color-bg-2