// // // // //
//
// Theme Styles (v2.3+)
//


// // // // //
// Light Theme
body[data-theme='light']
    --colour_default_main: $red-tc

    --colour_red_main: #{$red-tc}
    --colour_red_main-dark: #{$tc-red-dark}


    --colour_green_main: #61D836
    --colour_yellow_main: #FEAE00
    --colour_blue_main: #00A2FF

    --colour_grey_main: #808080

    --colour_bg_base: #f8f8f8
    --colour_bg_card: #eeeeee




    --colour_basic_text: #{$black}
    --colour_basic_text_inverted: #{$white}
    --colour_bg: #{$white}
    --colour_bg_inverted: #{$black}
    --colour_bg_inverted-75: #{$black-75}
    --colour_bg_inverted-50: #{$black-50}
    --colour_bg_inverted-25: #{$black-25}
    --colour_border: #{$border-light}
    --colour_card_headline: #{$border-light}

    --colour_highlight_text: $white


    // v2 Styles

    // BG Color Hierarchy
    --color_bg_lvl_minus_1: #fff
    --color_bg_lvl_0: #eee
    --color_bg_lvl_1: #d9d9d9
    --color_bg_lvl_2: #ccc
    --color_bg_lvl_3: #bbb

    // Highlights
    --color_highlight_bg: #fa1c23
    --color_highlight: #d01317
    --color_highlight_text: #9b1518

    // Fonts
    --color_font_main: #000
    --color_font_muted: #2a2a2a

    // Shadows
    --box_shadow_1: 0px 0px 5px -1px rgba(0,0,0,0.45)

// // // // //
// Dark Theme
body[data-theme='dark']
    --colour_default_main: #{$red-tc}

    --colour_red_main: #{$red-tc}
    --colour_red_main-dark: #{$tc-red-dark}

    --colour_green_main: #61D836
    --colour_yellow_main: #FEAE00
    --colour_blue_main: #00A2FF

    --colour_grey_main: #808080

    --colour_bg_base: #333333
    --colour_bg_card: #222222




    --colour_basic_text: #{$white}
    --colour_basic_text_inverted: #{$black}
    --colour_bg: #{$black}
    --colour_bg_inverted: #{$white}
    --colour_bg_inverted-75: #{$white-75}
    --colour_bg_inverted-50: #{$white-50}
    --colour_bg_inverted-25: #{$white-25}

    --colour_border: #{$border-dark}
    --colour_card_headline: #{$border-light}

    --colour_highlight_text: #000000

    // v2 Styles

    // BG Color Hierarchy
    --color_bg_lvl_minus_1: #000
    --color_bg_lvl_0: #111
    --color_bg_lvl_1: #2a2a2a
    --color_bg_lvl_2: #333
    --color_bg_lvl_3: #404040

    // Highlights
    --color_highlight_bg: #9b1518
    --color_highlight: #d01317
    --color_highlight_text: #fa1c23

    // Fonts
    --color_font_main: #fff
    --color_font_muted: #ddd

    // Shadows
    --box_shadow_1: 0px 0px 6px -1px rgba(0,0,0,0.8)

// // // // //
// set sass variables to use variable colors
// - This makes wirting styles much easier
$color-text: var(--colour_basic_text)
$color-text-inv: var(--colour_basic_text_inverted)

$color-bg: var(--colour_bg)
$color-bg-inv: var(--colour_bg_inverted)

$link-color: var(--colour_red_main)
$link-color-hover: var(--colour_red_main-dark)


// v2 colors:
$color-text: var(--color_font_main)
$color-text-muted: var(--color_font_muted)

$color-highlight-bg: var(--color_highlight_bg)
$color-highlight: var(--color_highlight)
$color-highlight-text: var(--color_highlight_text)

$color-bg-m1: var(--color_bg_lvl_minus_1)
$color-bg-0: var(--color_bg_lvl_0)
$color-bg-1: var(--color_bg_lvl_1) // main BG color
$color-bg-2: var(--color_bg_lvl_2)
$color-bg-3: var(--color_bg_lvl_3)

$box-shadow-1: var(--box_shadow_1)




// // // // //
// global styles based on theme settings
body[data-theme]
    background-color: $color-bg-1
    color: $color-text
    font-family: $font-paragraph

    margin: 0
    font-size: 1rem
    font-weight: 400
    line-height: 1.5
    -webkit-text-size-adjust: 100%
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)


// // // // //
// Bootstrap color theming
.offcanvas
    background-color: $color-bg

.modal-content
    background-color: $color-bg
