// // // // //
//
// Theme Styles (v2.3+)
//


// // // // //
// Light Theme
body[data-theme='light']
    --colour_default_main: $red-tc

    --colour_red_main: #{$red-tc}
    --colour_red_main-dark: #{$tc-red-dark}


    --colour_green_main: #61D836
    --colour_yellow_main: #FEAE00
    --colour_blue_main: #00A2FF

    --colour_grey_main: #808080

    --colour_bg_base: #f8f8f8
    --colour_bg_card: #eeeeee




    --colour_basic_text: #{$black}
    --colour_basic_text_inverted: #{$white}
    --colour_bg: #{$white}
    --colour_bg_inverted: #{$black}
    --colour_bg_inverted-75: #{$black-75}
    --colour_bg_inverted-50: #{$black-50}
    --colour_bg_inverted-25: #{$black-25}
    --colour_border: #{$border-light}
    --colour_card_headline: #{$border-light}

    --colour_highlight_text: $white


// // // // //
// Dark Theme
body[data-theme='dark']
    --colour_default_main: #{$red-tc}

    --colour_red_main: #{$red-tc}
    --colour_red_main-dark: #{$tc-red-dark}

    --colour_green_main: #61D836
    --colour_yellow_main: #FEAE00
    --colour_blue_main: #00A2FF

    --colour_grey_main: #808080

    --colour_bg_base: #333333
    --colour_bg_card: #222222




    --colour_basic_text: #{$white}
    --colour_basic_text_inverted: #{$black}
    --colour_bg: #{$black}
    --colour_bg_inverted: #{$white}
    --colour_bg_inverted-75: #{$white-75}
    --colour_bg_inverted-50: #{$white-50}
    --colour_bg_inverted-25: #{$white-25}

    --colour_border: #{$border-dark}
    --colour_card_headline: #{$border-light}

    --colour_highlight_text: #000000

// // // // //
// set sass variables to use variable colors
// - This makes wirting styles much easier
$color-text: var(--colour_basic_text)
$color-text-inv: var(--colour_basic_text_inverted)

$color-bg: var(--colour_bg)
$color-bg-inv: var(--colour_bg_inverted)

$link-color: var(--colour_red_main)
$link-color-hover: var(--colour_red_main-dark)


// // // // //
// global styles based on theme settings
body[data-theme]
    background-color: $color-bg
    color: var(--colour_basic_text)
    font-family: $font-paragraph

    margin: 0
    font-size: 1rem
    font-weight: 400
    line-height: 1.5
    -webkit-text-size-adjust: 100%
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)


// // // // //
// Bootstrap color theming
.offcanvas
    background-color: $color-bg
