// Cold colors
$aqua: #7fdbff
$blue: #0074d9
$navy: #001f3f
$teal: #39cccc
$green: #2ecc40
$olive: #3d9970
$lime: #01ff70

// Warm colors
$yellow: #ffdc00
$orange: #ff851b
$red: #ff4136
$fuchsia: #f012be
$purple: #b10dc9
$maroon: #85144b

// Grayscale
$white: #ffffff
$silver: #dddddd
$gray: #aaaaaa
$black: #111111

$main-background-color: $white
$main-text-color: $black
$divider-color: rgba($black, .14)

// brand colors
$tc-red: #be2d26
$brand-red: $tc-red // alias
$red-brand: $tc-red // alias
$red-tc: $tc-red // alias

// borders
$border-dark: #eee
$border-light: #eee


// fonts
// available: "Garamond Premier Pro", "Carol Gothic W10 Regular", "Artisan 12", "OpenSans", "Inter"
$font-headline: "Garamond Premier Pro", serif
$font-paragraph: "Inter", sans-serif
$font-keyword: "Artisan 12", sans-serif
$font-ornamental: "Carol Gothic W10 Regular"



// sizes
$main-text-size: 14px
$main-border-radius: 6px

$small-space: 16px
$medium-space: 32px
$large-space: 64px

$phone-size: 600px
$tablet-size: 992px
$desktop-size: 1200px