// Cold colors
$aqua: #7fdbff
$blue: #0074d9
$navy: #001f3f
$teal: #39cccc
$green: #2ecc40
$olive: #3d9970
$lime: #01ff70

// Warm colors
$yellow: #ffdc00
$orange: #ff851b
$red: #ff4136
$fuchsia: #f012be
$purple: #b10dc9
$maroon: #85144b

// Grayscale
$white: #ffffff
$white-75: rgba(255,255,255, .75)
$white-50: rgba(255,255,255, .5)
$white-25: rgba(255,255,255, .25)

$black: #111111
$black-75: rgba(17,17,17, .75)
$black-50: rgba(17,17,17, .5)
$black-25: rgba(17,17,17, .25)

$silver: #dddddd
$gray: #aaaaaa

$main-background-color: $white
$main-text-color: $black
$divider-color: rgba($black, .14)

// brand colors
$tc-red: #be2d26
$brand-red: $tc-red // alias
$red-brand: $tc-red // alias
$red-tc: $tc-red // alias

$tc-red-dark: #95231d


// borders
$border-dark: #eee
$border-light: #eee


// sizes
$main-text-size: 14px
$main-border-radius: 6px

$small-space: 16px
$medium-space: 32px
$large-space: 64px

$phone-size: 600px
$tablet-size: 992px
$desktop-size: 1200px




// // // // //
// v2 variables

// fonts
// available: "Garamond Premier Pro", "Carol Gothic W10 Regular", "Artisan 12", "OpenSans", "Inter"
$font-headline: "Garamond Premier Pro", serif
$font-paragraph: "Inter", sans-serif
$font-keyword: "Artisan 12", sans-serif
$font-ornamental: "Carol Gothic W10 Regular"

$font-size-h1: 36px
$font-size-h2: 32px
$font-size-h3: 26px