
$desktop-height: 100px
$mobile-height: 70px

.AdsManager
    position: fixed
    bottom: 0
    left: 0
    right: 0
    z-index: 101

    height: $desktop-height
    border-top: 1px solid $color-bg-0
    background-color: $color-bg-1

    @media (max-width: 768px)
        height: $mobile-height

    .Ads-text-below
        position: absolute
        inset: 0
        display: flex
        align-items: center
        justify-content: center
        padding: 5px 15px
        text-align: center
        pointer-events: none
        z-index: 1

    .adsbygoogle
        display: block
        width: 100%
        height: 100%
        position: relative
        z-index: 2

    // Hide in all print views
    @media print
        display: none !important
    &.has-ad .Ads-text-below
        display: none
.AdsManager-bottom-spacer
    height: $desktop-height
    @media (max-width: 768px)
        height: $mobile-height
