// // // // //
//
// This is for stuff inside contextual areas (i think)
//

.BaseContextTable-skill

    .BaseContextTable-skill-head
        background-color: $color-highlight-bg
        color: #fff
        font-family: $font-headline
        font-size: 24px
        padding: 7px 10px

    .BaseContextTable-skill-body
        background-color: $color-bg-3
        padding: 10px

    .SkillDisplay