
/*

Sets of Colours
- Deprecated

*/

// Default

// Red

// Yellow
.backgroundyellow { background-color: var(--colour_yellow_main) !important;  }
.coloryellow { color: var(--colour_yellow_main) !important;  }
.borderyellow { border-color: var(--colour_yellow_main) !important;  }

// Blue
.backgroundblue { background-color: var(--colour_blue_main) !important;  }
.colorblue { color: var(--colour_blue_main) !important;  }
.borderblue { border-color: var(--colour_blue_main) !important;  }

// Grey
.backgroundgrey { background-color: var(--colour_grey_main) !important;  }
.colorgrey { color: var(--colour_grey_main) !important;  }
.bordergrey { border-color: var(--colour_grey_main) !important;  }

// Off White
.backgroundBgBase { background-color: var(--colour_bg_base) !important;  }
.colorBgBase { color: var(--colour_bg_base) !important;  }
.borderBgBase { border-color: var(--colour_bg_base) !important;  }

.backgroundBgCard { background-color: var(--colour_bg_card) !important;  }
.colorBgCard { color: var(--colour_bg_card) !important;  }
.borderBgCard { border-color: var(--colour_bg_card) !important;  }

// Text

.backgroundHighlightText { background-color: var(--colour_highlight_text) !important;  }
.colorHighlightText { color: var(--colour_highlight_text) !important;  }
.borderHighlightText { border-color: var(--colour_highlight_text) !important;  }


