@import './_variables';

.borderstyler {
    border-style: solid;
    border-width: 2px !important;
}

.borderthin {
    border-style: solid;
    border-width: 1px !important;
}

.borderthinnosides {
    border-style: solid;
    border-width: 1px 0px 1px 0px !important;
}

.borderthintop {
    border-style: solid;
    border-width: 1px 0px 0px 0px !important;
}

.borderthicktop {
    border-style: solid;
    border-width: 2px 0px 0px 0px !important;
}

.borderthinbottom {
    border-style: solid;
    border-width: 0px 0px 1px 0px !important;
}

.borderremove {
    border-width: 0px !important;
}

.basestructure {
    box-shadow: 0 0 5px 1px var(--colour_hoverwhite);    
    &:hover { box-shadow: 0 0 10px 2px var(--colour_hoverwhite); }
}

.overlaystructure {
    position: fixed;
    top: 0;
    width: 100%;
}

.removeoverflowbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.removeoverflowbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.topbarStructure {
    width: 100%;
    z-index: 1000;
}

.menustructure {
    width: 25%;
    z-index: 999;
}


// Separator ----------------------------------------------------

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
  } 
  
  .separator::before,
  .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid;
  }
  
  .separator:not(:empty)::before {
  margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
  margin-left: .25em;
  }

  .scrollingoffmenu { 
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
  }

  .buttonclean {
    border-radius: 0rem !important;
    width: 100% !important;
  }

  .custom-dropdown-menu {
    left: 0 !important; /* Align menu with button */
    min-width: unset !important; /* Override Bootstrap min-width */
    width: auto !important; /* Ensures width is only what is set inline */
    max-width: 100% !important; /* Prevents overflow */
  }

  .lowopacity {
    opacity: 0.5;
  }

  .filterbuttoncomp {
    width: 10rem;
  }

  .itemrow_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .facdisplayrow_container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
  }

  .tablerow_container {
    display: grid;
    grid-template-columns: 1fr 5fr;

  }

  .buttonrow_container {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
  }

  .itemrow_box {
    display: flex;
    align-items: stretch; 
  }

  .overcomeBackground {
    background: none !important;
    border: none !important;
  }

  .overcomeradius {
    border-radius: 0 !important;
  }

  .flex-square {
    flex: 1; /* Makes it responsive */
    aspect-ratio: 1 / 1;
  }

  .flex-rectangle {
    flex: 1; /* Makes it responsive */
    aspect-ratio: 2 / 1;
  }

  .square-unflex {
    aspect-ratio: 1 / 1;
  }