@import './_variables';

// Border ------------------------------------------------------------

.borderstyler {
    border-style: solid;
    border-width: 2px !important;
}

.subborderstyler {
    border-style: solid;
    border-width: 1px !important;
}

// Overcome Elements -------------------------------------------------

.overcomeBackground {
    background: none !important;
    border: none !important;
}

.overcomeTooltip {
    opacity: 1 !important;
    --bs-tooltip-bg: none !important;
}

// Box Structures ----------------------------------------------------

.basestructure {
    box-shadow: 0 0 5px 1px var(--colour_grey_secondary);
    text-align: justify;
    
    &:hover {
        box-shadow: 0 0 10px 2px var(--colour_grey_secondary);
    }
}

.filterbuttonitem {
    border-radius: 0.4em 0.4em 0.4em 0.4em !important;
    color: var(--colour_white);
    font-weight: 600 ;
    font-size: 1.25rem;
    width: fit-content;
    padding: 0.1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.generalbuttonbox {
    justify-content: center;
    display: flex; /* make element size relative to content */
    align-items: center;
    border-radius: 0.2rem;
    height: 100%;
    width: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.abilityStructure {
    border-radius: 0em 0em 0em 0rem;
    width: 100%;
    background-color: var(--colour_offwhite);
}

.abilityInternalStructure {
    padding: 1rem;
    font-size: 0.8rem;
    color: var(--colour_basic_text) !important;
}

.pageaccessbox {
    justify-content: center;
    display: flex; /* make element size relative to content */
    align-items: center;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.emptyboxStructure {
    width: 100%;
    border-radius: 0.25rem;
    padding:20%;
    padding-top: 35%;
    padding-bottom: 35%;
    height: 400%;
}

// Body Elements ----------------------------------------------------

.popupBody {
    background: var(--colour_offwhite);
    width: fit-content;
}

.topbarCompendiumBase {
    width: 100%;
    background: var(--colour_default_main);
    height: 100%;

    box-shadow: 0 0 5px 1px var(--colour_grey_secondary);

    &:hover {
        box-shadow: 0 0 10px 2px var(--colour_grey_secondary);
    }
}

.packvr {
    color: var(--colour_default_main);
    width: fit-content;
}

// Bootstrap overrides ----------------------------------------------- 

.table td:nth-child(odd), .table th:nth-child(odd) {
    background-color: var(--colour_offwhite);
}
    
.table td:nth-child(even), .table th:nth-child(even) {
    background-color: var(--colour_tableb); 
}

.table tr:nth-child(odd) {
    background-color: var(--colour_offwhite);
}

.table tr:nth-child(even) {
    background-color: var(--colour_tableb); 
}

.table {
  --bs-table-bg: transparent;
}

// Set Sizes ----------------------------------------------------------

.height80 {
    max-height: calc(80vh);
}

.height70 {
    max-height: calc(70vh);
}

.width30 {
    width: calc(30vw);
}

.setheightcentered {
    min-height: 2.75rem;
    align-items: center;
}

.shorten {
    max-width: 4rem;
}

.inputbox input {
    height: 50%;
}

.fit-to-content{
    width: fit-content;
}

.smallcontentpackrow {
    width: 100%;
    justify-content: space-between;
}

.textmaxwidth {
  width: 100%;
}