@import './_variables';

@font-face {
  font-family: 'Carol Gothic W10 Regular';
  src: URL('/src/resources/fonts/Carol_Gothic_W10_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Garamond Premier Pro';
  src: URL('/src/resources/fonts/Garamond_Premier_Pro_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Artisan 12';
  src: URL('/src/resources/fonts/artisan12.otf') format('truetype');
}

.font-default {  
  font-family: "Artisan 12";
}

.font-seriftext {  
  font-family: "Garamond Premier Pro" ;
}

.font-ornamental {  
  font-family: "Carol Gothic W10 Regular";
}

.size-title {
  font-size: 10vw;
  font-weight: 800;
}

.size-section {
  font-size: 2.5rem;
  font-weight: 600;
}

.size-subtitle {
  font-size: 1.5rem !important;
}

.size-strongtext {
  font-size: 1.25rem !important;
}

.size-default {
  font-size: 1rem !important;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.cleanunderline {
  text-decoration: none;
}