// Palletes

:root {
  --colour_default_main: #be2d26;

  --colour_red_main: #EE220C;
  --colour_green_main: #61D836;
  --colour_yellow_main: #FEAE00;
  --colour_blue_main: #00A2FF;

  --colour_grey_main: #808080;

  --colour_bg_base: #333333;
  --colour_bg_card: #222222;

  --colour_basic_text: #FFFFFF;
  --colour_highlight_text: #000000;
}

[data-theme='light'] {
  --colour_default_main: #be2d26;

  --colour_red_main: #EE220C;
  --colour_green_main: #61D836;
  --colour_yellow_main: #FEAE00;
  --colour_blue_main: #00A2FF;

  --colour_grey_main: #808080;

  --colour_bg_base: #f8f8f8;
  --colour_bg_card: #eeeeee;

  --colour_basic_text: #000000;
  --colour_highlight_text: #FFFFFF;
}

[data-theme='dark'] {
  --colour_default_main: #be2d26;

  --colour_red_main: #EE220C;
  --colour_green_main: #61D836;
  --colour_yellow_main: #FEAE00;
  --colour_blue_main: #00A2FF;

  --colour_grey_main: #808080;

  --colour_bg_base: #333333;
  --colour_bg_card: #222222;

  --colour_basic_text: #FFFFFF;
  --colour_highlight_text: #000000;

}

// Web Background
  
.backgroundBaseColour {
  background-color: var(--colour_bg_base);
  min-height: 100vh;
  height: 100%;
  color: var(--colour_basic_text);
}

/*

Sets of Colours

*/

// Default
.backgrounddefault { background-color: var(--colour_default_main) !important;  }
.colordefault { color: var(--colour_default_main) !important;  }
.borderdefault { border-color: var(--colour_default_main) !important; }

// Red
.backgroundred { background-color: var(--colour_red_main) !important;  }
.colorred { color: var(--colour_red_main) !important;  }
.borderred { border-color: var(--colour_red_main) !important;  }

// Green
.backgroundgreen { background-color: var(--colour_green_main) !important;  }
.colorgreen { color: var(--colour_green_main) !important;  }
.bordergreen { border-color: var(--colour_green_main) !important;  }

// Yellow
.backgroundyellow { background-color: var(--colour_yellow_main) !important;  }
.coloryellow { color: var(--colour_yellow_main) !important;  }
.borderyellow { border-color: var(--colour_yellow_main) !important;  }

// Blue
.backgroundblue { background-color: var(--colour_blue_main) !important;  }
.colorblue { color: var(--colour_blue_main) !important;  }
.borderblue { border-color: var(--colour_blue_main) !important;  }

// Grey
.backgroundgrey { background-color: var(--colour_grey_main) !important;  }
.colorgrey { color: var(--colour_grey_main) !important;  }
.bordergrey { border-color: var(--colour_grey_main) !important;  }

// Off White
.backgroundBgBase { background-color: var(--colour_bg_base) !important;  }
.colorBgBase { color: var(--colour_bg_base) !important;  }
.borderBgBase { border-color: var(--colour_bg_base) !important;  }

.backgroundBgCard { background-color: var(--colour_bg_card) !important;  }
.colorBgCard { color: var(--colour_bg_card) !important;  }
.borderBgCard { border-color: var(--colour_bg_card) !important;  }

// Text
.backgroundBasicText { background-color: var(--colour_basic_text) !important;  }
.colorBasicText { color: var(--colour_basic_text) !important;  }
.borderBasicText { border-color: var(--colour_basic_text) !important;  }

.backgroundHighlightText { background-color: var(--colour_highlight_text) !important;  }
.colorHighlightText { color: var(--colour_highlight_text) !important;  }
.borderHighlightText { border-color: var(--colour_highlight_text) !important;  }


