// // // // //
//
// The fighter card (global)
//

.fighter-card
    border: 1px solid var(--colour_border)
    margin-bottom: 30px

    .fighter-card-title
        padding: 5px 10px
        font-size: 22px
        background-color: $color-bg-inv
        color: $color-text-inv

        margin-bottom: 10px

    .fighter-card-meta
        padding: 5px 10px

    .fighter-card-meta-above
        margin-bottom: 15px

    .fighter-card-meta-below

    .fighter-meta-entry-simple
        display: flex
        gap: 5px

        .fighter-meta-label
            font-weight: bold

        .fighter-meta-value

    .fighter-card-stats
        padding: 0 10px
        display: flex
        justify-content: left
        gap: 10px
        margin-bottom: 15px

        .fighter-card-stat
            min-width: 50px

            .stat-label
                font-size: 14px
                font-weight: bold
            .stat-value
                text-align: center

                //font-weight: bold
                padding: 10px
                border: 1px solid var(--colour_border)


    .fighter-card-collapse

        .fighter-card-collapse-title
            position: relative
            display: flex
            justify-content: space-between
            padding: 5px 10px

            font-weight: bold
            font-size: 18px
            background-color: var(--colour_bg_inverted-75)
            color: $color-text-inv
            cursor: pointer

        .fighter-card-collapse-content
            padding: 10px

    .fighter-card-collapse.has-children

            > .fighter-card-collapse-content
                padding: 0px
                border-left: 10px solid var(--colour_border)