// // // // //
//
// The fighter card (global)
//

.fighter-card
    margin-bottom: 30px
    background-color: $color-bg-2

    .fighter-card-title
        padding: 5px 10px
        margin-bottom: 10px

        font-size: $font-size-h3
        background-color: $color-highlight-bg
        font-family: $font-headline


    .fighter-card-meta
        padding: 5px 10px

    .fighter-card-meta-above
        margin-bottom: 15px


    .fighter-meta-entry-simple
        display: flex
        gap: 5px

        .fighter-meta-label
            font-weight: bold

        .fighter-meta-value

    .fighter-card-stats
        padding: 0 10px
        display: flex
        justify-content: left
        gap: 10px
        margin-bottom: 15px

        .fighter-card-stat
            min-width: 50px

            .stat-label
                font-size: 14px
                font-weight: bold
            .stat-value
                text-align: center
                background-color: $color-bg-3
                padding: 10px


    .fighter-card-collapse

        .fighter-card-collapse-title
            position: relative
            display: flex
            justify-content: space-between
            padding: 15px 15px

            font-size: 18px
            background-color: $color-bg-2
            cursor: pointer

            border-bottom: 1px solid $color-bg-1


        &:first-of-type .fighter-card-collapse-title
            border-top: 1px solid $color-bg-1



        .fighter-card-collapse-content
            background-color: $color-bg-3

            .fighter-card-collapse-content-inner
                padding: 20px 15px 20px 15px


            .ability:last-of-type
                p
                    margin-bottom: 0

            .ability-name,
            .upgrade-name
                font-weight: bold


    // when multiple texts are inside
    .fighter-card-collapse.has-children
