// // // // //
//
// Main Footer
//

.FooterMain

    .footer-upper
        background-color: $color-bg-2
        padding: 15px

        .footer-link-list
            margin: 15px 0

            ul
                list-style-type: none
                margin: 0
                padding: 0

                li
                    a
                        display: inline-block
                        padding: 5px 5px 5px 0
                        margin-right: 10px
                        color: $color-text
                        text-decoration: none
                        font-size: 14px

                        &:hover
                            color: $color-highlight-text

    .footer-bar
        border-top: 1px solid $color-bg-0
        background-color: $color-bg-1
        padding: 3px 0
        a
            display: inline-block
            padding: 5px 5px
            margin-right: 10px
            color: $color-text
            text-decoration: none
            font-size: 12px

            &:hover
                color: $color-highlight-text