.header-main-spacer
    width: 100%
    height: 55px

.header-main
    color: var(--colour_basic_text)
    background-color: var(--colour_bg)
    padding: 5px 15px

    button
        background-color: transparent
        color: currentColor
        font-size: 24px
        border: none
