// // // // //
//
// Header Styles
//

$header_height: 55
$header_logo_height: 25
$header_logo_padding: ($header_height - $header_logo_height) / 2

//.header-main-spacer
//    width: 100%
//    height: $header_height + px

body
    padding-top: $header_height + px !important

.header-main
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 100
    transform: translateY(0)
    transition: transform 200ms ease
    will-change: transform

    display: flex
    justify-content: space-between

    color: $color-text
    background-color: $color-bg-1

    box-shadow: $box-shadow-1

    &.is-hidden
        transform: translateY(-100%)
    @media (prefers-reduced-motion: reduce)
        transition: none


    // Header content
    .open-offcanvas-nav-btn
        background-color: transparent
        color: currentColor
        font-size: 24px
        border: none
        padding: 10px
        margin-left: 5px
        height: $header_height + px

    .search-button,

    .header-login-btn
        background-color: transparent
        color: currentColor
        font-size: 24px
        border: none
        padding: 10px
        margin-right: 5px
        height: $header_height + px
        cursor: pointer
        position: relative

        &:hover
            color: currentColor

        .notification-num
            position: absolute
            top: 10px
            left: 0px
            background-color: $color-highlight-bg
            border-radius: 50%
            height: 20px
            width: 20px
            line-height: 20px
            font-size: 14px
            text-align: center
            color: $color-text


    .logo-wrap
        padding: $header_logo_padding + px 5px
        display: flex
        justify-items: center
        justify-content: center
        height: $header_height + px


        .logo
            height: $header_logo_height + px
            width: auto
            display: block
            cursor: pointer

        @media(max-width: 575px)
            flex-direction: column
            .logo
                max-width: calc(100vw - 150px)
                height: auto

        @media(max-width: 450px)
            .logo
                max-width: calc(100vw - 130px)

// // // //
// Popover for user options in header
.header-user-popover
    position: relative
    padding: 0

    &:before
        content: ""
        display: block
        position: absolute
        z-index: 0
        top: -15px
        right: 10px
        width: 0px
        height: 0px
        border-style: solid
        border-width: 0 10px 15px 10px
        border-color: transparent transparent $color-highlight-bg-2 transparent
        transform: rotate(0deg)

    .user-name
        padding: 10px 15px
        background-color: $color-highlight-bg-2
    .element
        display: block
        padding: 8px 15px
        color: $color-text
        text-decoration: none
        cursor: pointer

        &:hover
            text-decoration: none
            background-color: $color-bg-3
            color: $color-highlight-text

            .notification-num-inline
                color: $color-text
        .notification-num-inline
            display: inline-block
            color: $color-text

            margin-left: 10px
            background-color: $color-highlight-bg
            border-radius: 50%
            height: 16px
            width: 16px
            line-height: 16px
            font-size: 14px
            text-align: center