// // // //  //
//
// The main offcanvas navigation menu
//

[data-theme]
    .OffcanvasMainMenu
        background-color: $color-bg-1

        &.offcanvas
            max-width: calc( 100% - 50px )

            .offcanvas-title
                width: 100%
                padding-right: 24px



        .offcanvas-body
            padding: 0

        .logo-wrap
            width: calc(100% - 30px)
            height: 35px
            position: relative

        .logo
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            object-position: center
            object-fit: contain
            width: 100%
            height: 100%
            cursor: pointer

.OffcanvasMainMenu
    .menu-lvl-1
        padding: 30px 0
        border-top: 1px solid $color-bg-0

        .menu-lvl-1-item-main
            position: relative
            margin: 0px 15px 15px 15px
            cursor: pointer

            .title
                position: relative
                z-index: 10
                display: block
                width: 100%
                height: 200px
                line-height: 200px
                text-align: center
                font-weight: bold
                font-size: 18px
                letter-spacing: 1px
                color: #fff

                @media (max-width: 400px)
                    height: 150px
                    line-height: 150px

            &:after
                content: ""
                position: absolute
                z-index: 2
                top: 0
                left: 0
                width: 100%
                height: 100%
                background-color: rgba(0,0,0,0.4)

            > img
                position: absolute
                z-index: 1
                top: 0
                left: 0
                width: 100%
                height: 100%
                object-position: center
                object-fit: cover

        .menu-lvl-1-item-secondary
            display: block
            width: 100%
            padding: 15px 30px
            border-bottom: 1px solid $color-bg-0
            color: #fff
            text-decoration: none

            &:first-of-type
                margin-top: 30px
                border-top: 1px solid $color-bg-0

            &:last-of-type
                margin-bottom: 45px

            i,svg
                margin-right: 5px

// // // // //
//
// Menu Body
//
.menu-body
    height: 100%
    padding-bottom: 55px
    overflow-y: scroll
    scrollbar-width: none

    &::-webkit-scrollbar
        display: none

    .rules-menu-header
        position: relative

        padding-left: 45px
        background-color: $color-highlight-bg
        display: flex
        color: $color-text

        .home-link
            position: absolute
            top: 0
            left: 0
            z-index: 2

            display: block
            height: 45px
            width: 45px
            cursor: pointer

            background-color: transparent
            transition: background-color .2s ease, color .2s ease
            color: #fff
            text-decoration: none

            &:hover
                text-decoration: none
                background-color: $color-highlight-bg-2
                color: $color-text-muted


            i, svg
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)

        .compendium-link
            position: relative
            height: 45px
            line-height: 45px
            padding-left: 15px
            cursor: pointer

            transition: color .2s ease
            color: #fff
            text-decoration: none

            &:hover
                color: $color-text-muted


            &:before
                content: ""
                display: block
                width: 1px
                position: absolute
                top: 15px
                bottom: 15px
                left: 0px
                background-color: $color-text-muted

    .menu-list
        list-style-type: none
        margin: 0
        padding: 0
        color: $color-text

    .menu-list-item
        position: relative

        &.has-children
            .menu-list-item-anchor-wrap > a
                padding-right: 45px

    .menu-list-item-anchor-wrap > a // all anchor tags
        display: block
        background-color: $color-bg-1
        color: $color-text
        text-decoration: none
        transition: color .2s ease

        &:hover
            color: $color-highlight-text

    .collapse-chevron-wrap
        height: 54px

    .menu-list.level-0
        > li
            > .menu-list-item-anchor-wrap > a
                padding: 15px 25px 15px 15px
                background-color: $color-bg-1
                border-bottom: 1px solid $color-bg-0

    .menu-list.level-1
        > li
            > .menu-list-item-anchor-wrap > a
                padding: 15px 25px 15px 20px
                background-color: $color-bg-2
                border-bottom: 1px solid $color-bg-1

    .menu-list.level-2
        > li
            > .menu-list-item-anchor-wrap > a
                padding: 15px 15px 15px 25px
                background-color: $color-bg-3
                border-bottom: 1px solid $color-bg-2


    .menu-list > li
        > .menu-list-item-anchor-wrap > a
            &.current
                position: relative
                color: $color-highlight

                &:before
                    content: ""
                    display: block
                    width: 3px
                    background-color: $color-highlight-bg
                    height: 100%
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0

                &:hover
                    color: $color-highlight
