// // // // //
//
// Top level styles for the compendium pages
//

.PagedCompendiumDisplay
    padding-bottom: 30px

.rules-content-main
    padding-top: 30px
    padding-bottom: 30px

    .book-rules-wrap

    .rules-introduction
        margin-bottom: 30px