// // // // //
//
// The Privacy Popup
//

.privacy-popup
    .privacy-popup-inner
        padding: 15px
        font-size: 14px


        .btn
            width: 100%
            margin-bottom: 15px

    @media(min-width: 575px)
        .privacy-popup-inner
            padding: 20px

    .tracking-options

        .form-check
            position: relative
            margin-left: -15px
            margin-right: -15px
            padding-left: 15px
            padding-right: 15px

            transition: background-color .2s ease

            display: flex
            align-items: center
            &:not(:last-of-type)
                border-bottom: 1px solid $color-bg-0

            &:hover
                background-color: $color-bg-2

            .form-check-input
                display: inline-block
                margin-top: -5px
                height: 18px
                width: 18px
                margin-left: 0

        label
            display: block
            padding: 12px 5px 10px 15px
            width: 100%
            cursor: pointer


            .cmp-info-trigger
                float: right
                padding: 4px

.cmp-info-popover
    padding: 10px 15px