// // // // //
//
// RulesEquipmentMain
// - Is used inside equipment modals
//

.rules-equipment-main
    .text-label
        font-weight: bold

    .rules-equipment-stats-table
        width: calc(100% + 30px)
        margin: -20px -15px 15px -15px
        background-color: $color-bg-2

        td
            padding: 15px
            border: 1px solid $color-bg-1

        .label-cell
            font-weight: bold

    .text-rules

    .text-lore
        .description-element
            font-size: 14px

    .keywords