// // // // //
//
// A collapsible lore element
//


.rules-lore-section
    margin-bottom: 30px

    .rules-lore-title
        position: relative
        display: flex
        justify-content: space-between
        padding: 5px 10px

        font-weight: bold
        font-size: 18px
        background-color: var(--colour_bg_inverted)
        color: var(--colour_basic_text_inverted)
        cursor: pointer

        .text

        .collapse-chevron-wrap

    .rules-lore-content
        padding: 10px
        border: 1px solid var(--colour_border)
        font-style: italic