// // // // //
//
// The summary for the scenarios in the rules
//



.RulesScenarioSummary

.rules-scenario-summary
    margin-bottom: 30px

    .rules-scenario-summary-title
        padding: 5px 15px
        background-color: $color-highlight-bg
        font-size: $font-size-h3
        font-family: $font-headline

    .rules-scenario-summary-content
        background-color: $color-bg-2

    .rules-scenario-summary-table
        width: 100%

        td
            padding: 15px
            border: 1px solid $color-bg-1

        .label-cell
            font-weight: bold