// // // // //
//
// The links to rules pages
// (at the bottom of a rules page)
//

.rules-page-links
    display: flex
    justify-content: space-between
    gap: 15px // min gap
    margin: 0 0 40px

    .rules-page-link
        display: inline-block
        position: relative
        color: $color-text
        text-decoration: none
        background-color: $color-bg-2
        border-bottom: 1px solid $color-highlight
        padding: 10px 20px

        transition: background-color .2s ease, border-bottom-color .2s ease

        &:hover
            background-color: $color-bg-3
            border-bottom-color: $color-highlight-text
            text-decoration: none
            color: currentColor

            .page-link-label
            .page-name


        .page-link-label
            display: block
            color: $color-highlight-text
            font-size: 14px
            margin-bottom: 2px

        .page-name

    .rules-page-link-prev

        i, svg
            left: 5px

        .page-name

    .rules-page-link-next
        margin-left: auto
        text-align: right

        i, svg
            right: 5px

        .page-name
