// // // // //
//
// Menu Body
//


// Menu in the main content section
.main-content

    .rules-menu-body
        margin-top: 30px

// global menu body
.rules-menu-body

    .rules-menu-header
        position: relative

        padding-left: 45px
        background-color: $color-highlight-bg
        display: flex

        .home-link
            position: absolute
            top: 0
            left: 0
            z-index: 2

            display: block
            height: 45px
            width: 45px

            i, svg
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)

        .compendium-link
            position: relative
            height: 45px
            line-height: 45px
            padding-left: 15px

            &:before
                content: ""
                display: block
                width: 1px
                position: absolute
                top: 15px
                bottom: 15px
                left: 0px
                background-color: $color-text-muted

    .menu-list
        list-style-type: none
        margin: 0
        padding: 0

    .menu-list-item
        position: relative

        &.has-children
            .menu-list-item-anchor
                padding-right: 45px

    .menu-list-item-anchor // all anchor tags
        display: block
        background-color: $color-bg-1
        color: $color-text
        text-decoration: none
        transition: color .2s ease

        &:hover
            color: $color-highlight-text

    .collapse-chevron-wrap
        position: absolute
        top: 0
        right: 0
        display: flex
        align-items: center
        justify-content: center
        height: 44px
        width: 44px
        cursor: pointer
        transition: color .2s ease, background-color .2s ease

        &:hover
            color: $color-highlight-text

    .menu-list.level-0
        > li
            > a
                padding: 10px
                background-color: $color-bg-1

    .menu-list.level-1
        > li
            > a
                padding: 10px 10px 10px 15px
                background-color: $color-bg-2

    .menu-list.level-2
        > li
            > a
                padding: 10px 10px 10px 25px
                background-color: $color-bg-3


