// // // // //
//
// The jump tp anchors on rules pages
// (at the top of a rules page)
//

.rules-page-anchors
    padding: 0 0 10px 0
    margin-bottom: 30px

    .rules-page-anchors-title
        display: flex
        justify-content: space-between
        padding: 5px 10px

        font-size: 18px
        font-weight: bold
        background-color: $color-bg-inv
        color: $color-text-inv
        cursor: pointer


    .rules-page-anchors-content
        padding: 10px
        border: 1px solid var(--colour_border)


    .rules-page-anchor
        display: block
        padding: 1px 10px
        line-height: 1.6em

        color: $color-text
        text-decoration: none
        transition: color .2s ease

        i,svg
            transition: padding .4s ease

        &:hover
            color: $brand-red

            i,svg
                padding-left: 5px

