.armoury-section
    border: 1px solid var(--colour_border)
    margin-top: 30px
    margin-bottom: 30px

    .armoury-headline
        font-weight: bold
        font-size: 18px
        padding: 5px 10px
        background-color: var(--colour_bg_inverted)
        color: var(--colour_basic_text_inverted)

    .armoury-content
        font-size: 14px

        .armoury-element
            display: grid
            grid-template-columns: 2fr 2fr

        .armoury-element-cell
            padding: 5px 5px

            .armoury-element-price
            .armoury-element-restriction

            .armoury-element-limit
                font-family: $font-keyword