.rules-popover-link
    font-family: $font-keyword
    cursor: pointer
    letter-spacing: 1px

.rules-popover-element
    border: 1px solid var(--colour_border)

    .popover-headline
        padding: 5px 10px
        background-color: var(--colour_card_headline)
        color: var(--colour_basic_text_inverted)
        font-size: 18px

    .popover-content
        padding: 8px 10px
        font-size: 16px
