.armoury-section
    margin-top: 30px
    margin-bottom: 30px

    .armoury-headline

    .armoury-content
        padding: 0

        .armoury-element
            display: grid
            grid-template-columns: 2fr 2fr

            &:not(:last-of-type)
                border-bottom: 1px solid $color-bg-1

        .armoury-element-cell
            padding: 10px 15px

            &:first-of-type
                border-right: 1px solid $color-bg-1

            .armoury-element-price
            .armoury-element-restriction

            .armoury-element-limit
                font-family: $font-keyword

