// // // // //
//
// A collapsible faction rule element
//


.rules-faction-rule
    margin-bottom: 30px

    .rules-faction-rule-title
        position: relative
        display: flex
        justify-content: space-between
        padding: 5px 10px

        font-weight: bold
        font-size: 18px
        background-color: var(--colour_bg_inverted)
        color: var(--colour_basic_text_inverted)
        cursor: pointer

        .text

        .collapse-chevron-wrap

    .rules-faction-rule-content
        padding: 10px
        border: 1px solid var(--colour_border)