.rules-model-card

.fighter-card
    border: 1px solid var(--colour_border)

    .fighter-card-title
        padding: 5px 10px
        font-size: 22px
        background-color: var(--colour_bg_inverted)
        color: var(--colour_basic_text_inverted)

        margin-bottom: 10px

    .fighter-card-meta
        padding: 5px 10px

    .fighter-card-meta-above
        margin-bottom: 15px

    .fighter-card-meta-below

    .fighter-meta-entry-simple
        display: flex
        gap: 5px

        .fighter-meta-label
            font-weight: bold

        .fighter-meta-value

    .fighter-card-stats
        padding: 0 10px
        display: flex
        justify-content: space-between
        margin-bottom: 15px

        .fighter-card-stat

            .stat-label
                font-size: 14px
                font-weight: bold
            .stat-value
                //font-weight: bold
                padding: 10px
                border: 1px solid var(--colour_border)