// // // // //
//
// The jump tp anchors on rules pages
// (at the top of a rules page)
//

.rules-page-anchors
    border: 1px solid var(--colour_border)

    padding: 0 0 10px 0

    .rules-page-anchors-title
        font-weight: bold
        font-size: 18px
        padding: 5px 10px
        margin-bottom: 10px
        background-color: var(--colour_bg_inverted)
        color: var(--colour_basic_text_inverted)

    .rules-page-anchor
        display: block
        padding: 1px 10px
        line-height: 1.6em

        color: var(--colour_basic_text)
        text-decoration: none
