// // // // //
//
// Rules Exploration Table styles
//

.RulesExplotationTable

.rules-exploration-table


    .rules-exploration-table-content
        padding-top: 0
        padding-bottom: 0

    .exploration-location-name
        font-weight: bold


    .exploration-location-options
        list-style-type: none
        padding: 0

        .exploration-location-option
            margin-bottom: 15px