.SynodLoginPage

    .synod-login-form
        max-width: 350px
        margin: 0 auto

        .btn
            width: 100%


    .login-btn-spacer
        text-align: center
        margin-top: 15px
        margin-bottom: 15px

    .reset-toggle
        cursor: pointer
        text-align: center
        font-size: 14px
        padding: 10px 0

        &:hover
            color: $color-highlight-text