// // // // //
//
// The Profile Settings Page
//



.ProfileSettingsPage
    padding: 30px 0

    .container
        position: relative

    h1
        padding-right: 150px

    .btn-save-setting
        position: absolute
        top: 0
        right: 15px