// // // // //
//
// This is the subscription card on the profile page styles
//


.ProfileSubscriptionView

    padding: 20px 15px
    background-color: $color-bg-3


    h3
        font-size: 20px
    h4
        font-size: 32px
        margin-bottom: 25px

    .details-list
        padding: 0
        margin-bottom: 30px
        list-style-type: none


        li
            margin-bottom: 5px

            .icon
                height: 20px
                width: auto
                margin-right: 5px

    .secondary-action
        margin-left: 15px
