// // // // //
//
// Creator details in the profile
//

.ProfileCreatorView

    margin-top: 15px
    padding: 20px 15px
    background-color: $color-bg-3

    h3
        font-size: 24px

    .details-list
        padding: 0
        margin-bottom: 30px
        list-style-type: none

        li
            margin-bottom: 5px

            .icon
                height: 20px
                width: auto
                margin-right: 5px

            &.clickable
                cursor: pointer