// // // // //
//
// This is the friends list in the profile view
//

.ProfilePageFriends,
.ProfileAddFriendsModal


    .friend-requests-headline
        margin-bottom: 15px

    .friends-list
        list-style-type: none
        margin: 0
        padding: 0

        display: flex
        flex-wrap: wrap

        .friend
            display: block
            width: 100%

            &:last-of-type
                > .UserListEntry
                    margin-bottom: 0

            // @TODO: add responsive width

