// // // // //
//
// The drawer for profile shares
//

.ProfileShareDrawer
    min-height: 80vh

    .qr-code-wrap
        margin-top: 30px
        width: 100%
        aspect-ratio: 1 / 1
        height: 280px

        > svg
            width: 100%