// // // // //
//
// The Profile Settings Page
//



.ProfileSettingsPage
    padding: 30px 0
    position: relative
    min-height: 80vh

    .container
        position: relative

    h1


    .profile-settings
        position: relative
        background-color: $color-bg-2
        padding: 15px

    .btn-logout
        position: absolute
        top: 15px
        right: 15px
