// // // // //
//
// This is the friends list in the profile view
//

.ProfilePageFriends

    .friends-list
        list-style-type: none
        margin: 0
        padding: 0

        display: flex
        flex-wrap: wrap

        .friend
            display: block
            width: 100%

            // @TODO: add responsive width