// // // // //
//
// The list of warbands on profile pages
//

.ProfilePageWarbands

    .warbands-list
        list-style-type: none
        margin: 0
        padding: 0

        display: flex
        flex-wrap: wrap

        .warband
            display: block
            width: 100%

            &:last-of-type
                > .WarbandListEntry
                    margin-bottom: 0
// @TODO: add responsive width