// // // // //
//
// Profile Page Stuff
//



.ProfilePage
    padding-bottom: 60px

    // profile intro
    .profile-intro
        max-width: 250px
        margin: 60px auto
        text-align: center

        .profile-image-wrap
            aspect-ratio: 1 / 1
            position: relative
            overflow: hidden

            margin-bottom: 15px

            .profile-image
                position: absolute
                z-index: 2
                top: 0
                bottom: 0
                left: 0
                right: 0
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center

        .profile-name
            margin: 15px 0 5px
            font-size: 28px

        .profile-sub
            margin: 0px 0 15px
            font-size: 16px
            font-family: $font-paragraph


    // Profile Card Styles
    .profile-card

    .profile-card-head
        background-color: $color-highlight-bg
        padding: 10px
        font-family: $font-paragraph


    .profile-card-content
        background-color: $bg-color-card-1
        padding: 10px

