// // // // //
//
// A Campaign Invite in the profile
//


.ProfilePageCampaignsInvite
    background-color: $color-bg-3
    padding: 10px

    .ProfilePageCampaignsInvite-Name
        display: block
        color: $color-text
        text-decoration: none
        font-weight: bold
        font-size: 18px
        margin-bottom: 10px

        &:hover
            color: $color-text

    .players-list
        list-style-type: none
        margin: 0
        padding: 0
        width: 100%
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        margin-bottom: 15px

        .player-item
            display: inline-block
            margin-right: 5px
            margin-left: 5px

            &:first-of-type
                margin-left: 0px

    .player-item-link
        color: $color-text
        text-decoration: none

        &:hover
            color: $color-text

    .ProfilePageCampaignsInvite-actions

