// // // // //
//
// Equipment Stats in WBB Equipment modals
//

.WbbEquipmentListItem-Detail
    .text-label
        font-weight: bold

    .WbbEquipmentStats
        width: calc(100% + 30px)
        margin: -20px -15px 15px -15px
        background-color: $color-bg-2

        td
            padding: 15px
            border: 1px solid $color-bg-1

        .label-cell
            font-weight: bold
    .text-lore
        .description-element
            font-size: 14px

    .WbbEquipmentStats
        background-color: $color-bg-1

        td
            border-color: $color-bg-0