// // // // //
//
// Export Warband Modal Styles
//

.WbbExportWarband

    .export-wrap
        background-color: $color-bg-3
        border: 1px solid $color-bg-0
        padding: 15px
        font-size: 14px

    .btn-secondary
        opacity: 0.5
        padding: 5px 25px
        font-size: 14px
        transition: opacity .2s ease
        &.active
            opacity: 1
            background-color: $color-highlight-bg-2

    .btn-copy
        transition: background-color .2s ease
        &.copy-success
            background-color: $green !important