// // // // //
//
// Edit Selection Modal
// - used with option boxes
//

.WbbEditSelectionModal
    .selection-wrap
        margin: 15px 0

    .select-item
        padding: 10px 15px
        background-color: $color-bg-1
        cursor: pointer

        &.disabled // an element that is not selectable
            opacity: 0.5
            .disabled-reason // a string that shows why the item is disabled
                color: $red

        &:hover
            background-color: $color-highlight-bg-2-50

        &.selected
            border-left: 3px solid $color-highlight