// // // // //
//
//
//

.WbbModalSelect_Exploration

    .exploration-description-options
        margin-top: 10px
        padding-left: 18px

        .exploration-description-option
            margin-bottom: 5px
            .option-name
                display: inline-block
                margin-right: 5px
                font-weight: bold

    .exploration-description
        margin-bottom: 15px