// // // // //
//
// All Add fighter Modals
//


.WbbModalAddItem
    .select-item
        background-color: $color-bg-3
        border-bottom: 1px solid $color-bg-1
        padding: 10px 10px
        display: flex
        justify-content: space-between
        cursor: pointer

        transition: background-color .2s ease

        &:hover
            background-color: $color-highlight-bg-2-50

        &:last-of-type
            border-bottom: none

        &.selected
            background-color: $color-highlight-bg-2