// // // // //
//
// Players list in the campaign view
//


.CampaignPlayers
    .CampaignManager-card-content
        padding-bottom: 1px

    .players-list
        list-style-type: none
        margin: 15px 0
        padding: 0
