// // // // //
//
// Summary card for the campaign manager
//



.CampaignSummary
    .CampaignManager-card-content
        padding: 15px

    .CampaignSummary-info
        margin-bottom: 5px
        .label
            font-weight: bold
        .value
