// // // // //
//
// Campaign Items in the list view
//

.trench-companion
    .CMCampaignListItem-outer
        color: $color-text
        text-decoration: none

        &:hover
            color: $color-text
            text-decoration: none

.CMCampaignListItem
    padding: 15px 15px 0 15px
    margin-bottom: 15px
    background-color: $color-bg-2



    .CMCampaignListItem-description
        display: -webkit-box
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        overflow: hidden
        text-overflow: ellipsis
        font-size: 14px

    .CMCampaignListItem-player-list
        background-color: $color-bg-3
        padding-top: 15px
        padding-bottom: 1px

    .CMCampaignListItem-player-col
        padding-top: 1px
        padding-bottom: 1px

        .CMPlayerSmall
            .CMHistoryPlayer-name
                font-size: 14px

    .CMCampaignListItem-players-none
        padding: 15px
        background-color: $color-bg-3

