// // // // //
//
// An invite for THIS campaign showing on the campaign page
//

.CMCampaignInviteThis
    position: relative
    min-height: 75px
    padding: 10px 10px 10px 15px
    background-color: $color-bg-3
    border-left: 2px solid $color-highlight
    margin-bottom: 15px

    .CampaignListEntry-actions
        margin-top: 15px

    .loading-wrapper
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: $color-bg-3
        opacity: .7
        z-index: 1