// // // // //
//
//
//

.CMLatestAnnouncement
    margin: 15px 0

    .CMLatestAnnouncement-headline
        position: relative
        font-family: $font-paragraph
        font-weight: bold
        font-size: 16px
        margin: 0 0 10px 0

    .CMLatestAnnouncement-title
        margin-bottom: 0px

    .CMLatestAnnouncement-date
        font-size: 14px
        margin-bottom: 5px

    .CMLatestAnnouncement-text
        font-size: 14px
        white-space: pre-line
        margin: 0
    .CMLatestAnnouncement-content
        padding: 15px
        background-color: $color-bg-3