// // // // //
//
//
//

.CMManagePanel
    .CMManagePanel-action
        padding: 12px 10px
        border-bottom: 1px solid $color-bg-0
        cursor: pointer
        transition: .2s ease background-color

        &:last-of-type
            border-bottom: none

        &:hover
            background-color: $color-bg-3
