// // // // //
//
//
//

.CMProgressGraph

    .custom-tooltip
        background-color: $color-bg-4
        padding: 15px

        .custom-tooltip-label
            color: $color-text

        .legend-item
            margin-bottom: 5px
            font-size: 14px

    .CMProgressGraph-head
        display: flex
        justify-content: space-between
        margin-bottom: 15px

    .CMProgressGraph-headline
        font-family: $font-paragraph
        font-weight: bold
        font-size: 16px
        margin: 0 0 10px 0
        padding-right: 15px

    .CMProgressGraph-select
        display: inline-block
        width: 200px

    .CMProgressGraph-graph
        width: calc(100% + 15px) !important
        height: 400px
        margin-left: -15px

        .recharts-legend-wrapper
            padding-left: 15px