// // // // //
//
// Ability Display in WBB
//


.WbbAbilityDisplay
    margin-bottom: 15px

    .ability-title
        position: relative
        background-color: $bg-color-card-2-el

        padding: 0 50px 0 15px
        height: 44px
        line-height: 44px

    .ability-description
        background-color: $bg-color-card-3

    .ability-description-inner
        padding: 15px

