// // // // //
//
// Create New Warband Page
//




.WbbCreateNewPage
    padding-bottom: 30px

    .headline-wrap
        margin-top: 30px
        margin-bottom: 30px

        .sub-headline
            opacity: 0.75


    .bottom-actions
        display: flex
        justify-content: space-between
        margin-bottom: 30px


    .wbb-faction-masonry
        column-count: 2
        column-gap: 15px

        margin-bottom: 30px

        > div
            break-inside: avoid
            margin-bottom: 1rem

        @media(max-width: 768px)
            column-count: 1
