// // // // //
//
// WBB Detail Views
//

.WbbDetailView
    background-color: $bg-color-card-1

    .title
        margin: 0 0 0px
        position: relative
        padding-left: 40px
        padding-right: 15px
        background-color: $color-highlight-bg

        .title-back
            padding: 15px
            position: absolute
            top: 0
            left: 0
            bottom: 0
            cursor: pointer

        .title-text
            line-height: 53px
            font-weight: bold
            width: 100%
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

    .detail-view-content
        font-size: 14px
        padding: 20px 15px

        .detail-section-title
            font-size: 16px
            font-weight: bold
            margin-bottom: 15px

        .detail-section-text
            margin: 15px 0

            .detail-section-text-element

            .detail-section-text-element-validation-error
                margin-top: 15px

                .detail-section-text-element-validation-error-title
                    font-weight: bold
                    margin-bottom: 5px

                ul
                    padding-left: 20px
                    margin-bottom: 0


        // Info Box inside the detail view content
        .info-box
            position: relative
            background-color: $color-bg-3
            padding: 15px
            overflow: hidden

            .info-box-icon
                position: absolute
                top: -8px
                left: -8px
                z-index: 0
                opacity: 0.2
                font-size: 48px

            .info-box-title
                margin-bottom: 5px
                font-weight: bold

            .info-box-content
                font-style: italic

    &.WbbStashDetailView
        .stash-items-title
            margin: 0 -15px
            padding: 15px
            font-size: 16px
            font-weight: bold
            background-color: $color-bg-2

        .stash-items-wrap
            margin: 0 -15px -20px
            padding: 30px 15px 15px
            background-color: $color-bg-3

            .WbbEquipmentListItem
                background-color: $color-bg-2

            .stash-items-category
                margin-bottom: 15px

            .stash-items-empty
                padding: 10px
                background-color: $color-bg-2
