// // // // //
//
// WBB Detail Views
//

.WbbDetailView
    background-color: $color-bg-2

    @media(max-width: 767px)
        background-color: $color-bg-1

    .title
        margin: 0 0px 15px
        position: relative
        padding-left: 40px
        padding-right: 15px
        background-color: $color-highlight-bg

        .title-back
            padding: 15px
            position: absolute
            top: 0
            left: 0
            bottom: 0

        .title-text
            line-height: 53px
            font-weight: bold
            width: 100%
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

    .detail-view-content
        font-size: 14px
        padding: 30px 15px
