// // // // //
//
// The Advancement items in the WBB
//


.WbbEditViewAdvancement
    position: relative
    padding: 10px 30px 10px 15px
    background-color: $bg-color-card-2-el
    border-bottom: 1px solid $bg-color-card-2-el-border
    cursor: pointer

    &:not(.play-mode)
        .advancement-description
            margin-top: 5px
            white-space: nowrap
            width: 100%
            overflow: hidden
            text-overflow: ellipsis

    .actions
        position: absolute
        top: 0
        right: 0
        bottom: 0
        display: flex
        align-items: center
        padding: 5px 12px
        font-size: 16px

    &.play-mode
        padding: 0
        background-color: transparent
        border-bottom: 1px solid $bg-color-card-2-el-border
        margin-bottom: 15px

        .advancement-title
            padding: 0 15px
            height: 44px
            line-height: 44px
            background-color: $bg-color-card-2-el

        .advancement-description
            background-color: $bg-color-card-3
            padding: 15px


body[data-print="print"]
    .WbbEditViewAdvancement
        background-color: $bg-color-card-2
        margin-bottom: 15px

    .Wbb-item-actions
        display: none !important


