// // // // //
//
// An Exploration item in the WBB
//


.WbbEditViewExploration
    position: relative
    background-color: $color-bg-2
    border-bottom: 1px solid $color-bg-1
    font-size: 14px

    .WbbEditViewExploration-title
        position: relative
        background-color: $color-highlight-bg-2
        padding: 10px 15px

    .exploration-name
        font-weight: bold
        margin-bottom: 5px

    .exploration-body
        padding: 10px 15px

    .exploration-location
    .exploration-choice

