// // // // //
//
// A Modifier element in the warband builder
//

.WbbEditViewModifier
    font-size: 14px

    .modifier-title
        position: relative
        padding: 10px 15px 12px 15px
        background-color: $color-bg-2
        border-bottom: 1px solid $color-bg-1

        .title-name
            font-weight: bold

        .title-choice


    .modifier-body
        padding: 10px 15px 12px 15px
        background-color: $color-bg-3
        border-bottom: 1px solid $color-bg-1

    &.inner
        margin-bottom: 15px

        .modifier-body
            padding: 10px 15px 12px 15px
            background-color: $bg-color-card-3
            border-bottom: 1px solid $color-bg-1
