// // // // //
//
// An Exploration item in the WBB
//


.WbbEditViewExploration
    position: relative
    background-color: $color-bg-2
    font-size: 14px
    margin-bottom: 15px

    .WbbEditViewExploration-title
        position: relative
        padding: 10px 15px 12px 15px
        background-color: $color-bg-1
        cursor: pointer

    .exploration-name
        font-weight: bold

    .exploration-body
        border-top: 1px solid $color-bg-0
        padding: 10px 15px

    .exploration-description-options
        margin-top: 10px
        padding-left: 18px

        .exploration-description-option
            margin-bottom: 5px
            .option-name
                display: inline-block
                margin-right: 5px
                font-weight: bold

            .option-description




    .alert-exploration
        background-color: $color-bg-4
        padding: 15px
        border-left: 3px solid $blue
        margin: 15px 0

        &.alert-exploration-success
            border-left-color: $green

@import "exploration/WbbExploration_Selection_Fallen_Knight"
@import "exploration/WbbExploration_Selection_SingleEquipment"
@import "exploration/WbbExploration_Selection_MultiEquipment"
@import "exploration/WbbExploration_Selection_MoonshineStash_Destroy"
@import "exploration/WbbExploration_Selection_AngelicInstrument"
@import "exploration/WbbExploration_Selection_Fruit"
@import "exploration/WbbExploration_Selection_BattlefieldOfCorpses"
@import "exploration/WbbExploration_Selection_GloryPurchase"