// // // // //
//
// The main styles for the Warband Edit view
//

.WbbEditView
    .WbbEditViewMain
        padding-top: 30px
        padding-bottom: 30px

    .warband-summary

    .category-headline
        margin: 30px 0 15px

    .btn
        font-size: 14px

    .fighter-status
        background-color: $color-bg-2
        padding: 10px 15px
        display: flex
        justify-content: space-between
        align-items: center

        .fighter-status-string
            font-weight: bold