// // // // //
//
// A Modifier element in the warband builder
//

.WbbEditViewModifier
    font-size: 14px

    .modifier-title
        position: relative
        padding: 10px 15px 12px 15px
        background-color: $color-bg-2
        border-bottom: 1px solid $color-bg-1

        .title-name
            font-weight: bold

        .title-choice

        .actions
            position: absolute
            top: 0
            right: 0
            bottom: 0
            display: flex
            align-items: center
            padding: 5px 12px
            font-size: 16px

    .modifier-body
        padding: 10px 15px 12px 15px
        background-color: $color-bg-3
        border-bottom: 1px solid $color-bg-1
