// // // // //
//
// The main styles for the Warband Edit view
//

.WbbEditView
    padding-top: 30px
    padding-bottom: 30px

    .warband-summary

    .category-headline
        margin: 30px 0 15px

    .btn
        font-size: 14px