// // // // //
//
// The stash in the edit view
//


.WbbEditViewStash
    position: relative
    padding: 10px 15px 12px 15px
    background-color: $color-bg-2
    font-size: 14px
    border-bottom: 1px solid $color-bg-1


    .stash-name
        font-weight: bold
        margin-bottom: 10px

    .stash-value
        position: absolute
        top: 10px
        right: 15px
        text-align: right

    .stash-contents
        .contents-ducats
        .contents-glory
        .stash-item-list
            white-space: nowrap
            width: 100%
            margin-top: 7px
            overflow: hidden
            text-overflow: ellipsis