// // // // //
//
// Exploration Skill Element in the WBB
//

.WbbExplorationSkills



.WbbExplorationSkills

    .WbbExplorationSkill
        margin-bottom: 15px

        &:last-of-type
            margin-bottom: 0

    .WbbExplorationSkill-title
        display: flex
        justify-content: space-between
        background-color: $bg-color-card-2-el
        padding: 10px 15px
        font-weight: bold

    .WbbExplorationSkill-content
        background-color: $bg-color-card-3
        padding: 15px

    .WbbExplorationSkill-content-source
        margin-bottom: 5px

        &:last-of-type
            margin-bottom: 0px
