// // // // //
//
// The main styles for the Warband Edit view
//

.WbbEditView
    position: relative

    .WbbEditViewMain
        position: relative
        z-index: 5

        padding-top: 0
        padding-bottom: 30px

        @media(min-width: 768px)
            display: flex
            gap: 15px

    .warband-wrap
        @media(min-width: 768px)
            width: calc(50% - 8px)

        &.details-open
            @media(max-width: 767px)
                display: none

    .selected-item-wrap
        margin: 0px -15px

        @media(min-width: 768px)
            width: calc(50% - 8px)
            margin: 0

        .selected-item-empty
            @media(max-width: 767px)
                display: none

            @media(min-width: 768px)
                //background-color: $color-bg-2
                height: 100%
                display: flex
                flex-direction: column
                justify-content: center

    .warband-title
        position: relative
        z-index: 5
        padding-top: 15px
        padding-bottom: 15px
        margin-bottom: 30px
        background-color: $color-highlight-bg

        > .container
            position: relative

        h1
            margin: 0px 0
            font-size: 24px
            padding-right: 15px

            @media(min-width: 768px)
                font-size: 26px

        @media(max-width: 767px)
            &.details-open
                display: none


    .WbbEditView-hero
        position: absolute
        z-index: 1
        top: 55px
        left: 0
        width: 100%
        aspect-ratio: 2 / 1
        overflow: hidden

        img
            position: absolute
            z-index: 2
            top: 0
            left: 0
            width: 105%
            height: 105%
            object-fit: cover
            object-position: center
            filter: blur(3px)

        &:before
            content: ""
            position: absolute
            z-index: 3
            bottom: 0px
            left: 0
            display: block
            width: 100%
            height: 100px
            background: linear-gradient(0deg,$color-bg-1 0%, rgba(51, 51, 51, 0) 100%)

    .warband-meta
        position: relative
        padding: 10px 15px 12px 15px
        background-color: $color-bg-2
        font-size: 14px
        border-bottom: 1px solid $color-bg-1
        transition: background-color .3s ease

        &:hover
            cursor: pointer
            background-color: $color-bg-3

            @media (hover: none) and (pointer: coarse)
                background-color: $color-bg-2

        &.active
            background-color: $color-highlight-bg-2

            &:after
                content: ""
                display: block
                position: absolute
                right: -15px
                top: 50%
                width: 0px
                height: 0px
                border-style: solid
                border-width: 15px 0 15px 15px
                border-color: transparent transparent transparent $color-highlight-bg-2
                transform: translateY(-50%)

        .meta-headline
            font-weight: bold
            margin-bottom: 10px

        .meta-item
            margin-bottom: 1px
        .meta-item-vaidation-error
            margin-top: 3px

            i, svg
                color: $yellow


    .category-headline
        margin: 30px 0 15px

    .btn
        font-size: 14px

    .fighter-status
        background-color: $bg-color-card-2-el
        padding: 10px 15px
        display: flex
        justify-content: space-between
        align-items: center

        .fighter-status-string
            font-weight: bold


    // // // // //
    //
    // WBB Loading Overlay
    //
    .WbbLoadingOverlay
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 1000
        background-color: $color-bg-1
        font-size: 16px
        .loading-inner
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
        i, svg
            font-size: 48px
            color: $color-highlight-text


