// // // // //
//
// Extra Modifier in WBB
//


.WbbEditViewExtraModifier
    position: relative
    //background-color: $color-bg-2
    //border-bottom: 1px solid $color-bg-0
    font-size: 14px

    .WbbEditViewExtraModifier-title
        position: relative
        padding: 10px 15px 12px 15px
        background-color: $color-bg-2
        cursor: pointer

    .WbbEditViewExtraModifier-name
        font-weight: bold

    .WbbEditViewExtraModifier-body
        padding: 10px 15px
        border-top: 1px solid $color-bg-0
        background-color: $color-bg-3

        &:after
            content: ""
            display: block
            width: 100%
            margin-top: 5px

    &.inner
        .WbbEditViewExtraModifier-body
            background-color: $bg-color-card-3