// // // // //
//
// Fighter Detail View
//


.WbbFighterDetailView
    &.fighter-card
        background-color: $color-bg-1
        font-size: 14px
        padding: 0 15px

    .title
        margin: 0 -15px 15px
        position: relative
        padding-left: 40px
        padding-right: 60px
        background-color: $color-highlight-bg

        .title-back
            padding: 15px
            position: absolute
            top: 0
            left: 0
            bottom: 0

        .fighter-name
            line-height: 53px
            font-weight: bold
            width: 100%
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

        .fighter-cost
            padding-right: 15px
            position: absolute
            top: 0
            right: 0
            bottom: 0
            line-height: 53px

    .fighter-card-meta
        padding: 0

    .fighter-card-stats
        padding: 0

    .fighter-card-collapse-wrap

        h3
            margin-top: 30px
            margin-bottom: 15px