// // // // //
//
// Fighter Detail View
//


.WbbFighterDetailView
    &.fighter-card
        font-size: 14px
        padding: 0 15px

        @media(max-width: 767px)
            .fighter-card-collapse-title
                background-color: $color-bg-1
                border-color: $color-bg-0

            .fighter-card-collapse-content
                background-color: $color-bg-2

    .title
        margin: 0 -15px 15px


        .fighter-name
            padding-right: 90px

        .fighter-cost
            padding-right: 15px
            position: absolute
            top: 0
            right: 0
            bottom: 0
            line-height: 53px

    .fighter-card-meta
        padding: 0

    .fighter-card-stats
        padding: 0

    .fighter-card-collapse-wrap

        h3
            margin-top: 30px
            margin-bottom: 15px

    // XP Boxes
    .experience
        position: relative
        margin-bottom: 30px

        .edit-xp-btn
            position: absolute
            top: 0
            right: 0

    .xp-boxes
        display: flex
        flex-wrap: wrap
        gap: 5px

        .xp-box
            position: relative
            height: 15px
            width: 15px
            border: 1px solid $color-text

            @media(max-width: 380px)
                height: 11px
                width: 11px
            &.xp-box-bold
                border: 1px solid $color-highlight-text

            i, svg
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)


    // Battle Scar Boxes
    .battle-scars
        position: relative
        margin-bottom: 30px

        .edit-battle-scar-btn
            position: absolute
            top: 0
            right: 0

    .battle-scar-boxes
        display: flex
        flex-wrap: wrap
        gap: 5px



        .battle-scar-box
            position: relative
            height: 35px
            width: 35px
            border: 1px solid $color-text

            @media(max-width: 380px)
                height: 11px
                width: 11px

            &:last-of-type
                border: 1px solid $color-highlight-text

            .skull-icon
                opacity: .25
                z-index: 1
                color: $color-highlight-text
                font-size: 22px

            i, svg
                font-size: 18px
                position: absolute
                z-index: 2
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)