// // // // //
//
// Fighter Detail View
//


.WbbFighterDetailView
    &.fighter-card
        font-size: 14px
        padding: 0 15px


    .title
        margin: 0 -15px 0px


        .fighter-name
            padding-right: 90px

        .fighter-cost
            padding-right: 15px
            position: absolute
            top: 0
            right: 0
            bottom: 0
            line-height: 53px
    .fighter-card-main-area
        position: relative
        margin: 0 -15px
        padding: 15px

        // default smaller images
        .fighter-image-wrap
            position: absolute
            z-index: 1
            top: 0
            right: 0
            bottom: 0
            height: 100%
            width: calc(100% - 280px)
            min-width: 150px

        .fighter-image
            position: absolute
            top: 0
            right: 0
            bottom: 0
            z-index: 1
            width: 100%
            height: 100%
            object-fit: contain
            object-position: bottom right

        @media(max-width: 420px)
            .fighter-image-wrap
                width: calc(100% - 240px)

        // testing full screen images
        .fighter-image-wrap.full
            .fighter-image
                object-fit: cover
                object-position: top left

    .fighter-card-meta
        position: relative
        z-index: 5
        padding: 0

    &.play-mode
        .fighter-card-meta
            margin-top: 30px
            margin-bottom: 30px

    .fighter-card-stats
        position: relative
        z-index: 5
        padding: 0
        margin-bottom: 0

    &.play-mode
        .fighter-card-stats
            margin-bottom: 30px
    .fighter-card-collapse-wrap

        h3
            margin-top: 30px
            margin-bottom: 15px

    // XP Boxes
    .experience
        position: relative
        margin-bottom: 30px

        .edit-xp-btn
            position: absolute
            top: 0
            right: 0

    .xp-boxes
        display: flex
        flex-wrap: wrap
        gap: 5px

        .xp-box
            position: relative
            height: 15px
            width: 15px
            border: 1px solid $color-text

            @media(max-width: 380px)
                height: 11px
                width: 11px
            &.xp-box-bold
                border: 1px solid $color-highlight-text

            i, svg
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)


    // Battle Scar Boxes
    .battle-scars
        position: relative
        margin-bottom: 30px

        .edit-battle-scar-btn
            position: absolute
            top: 0
            right: 0

    .battle-scar-boxes
        display: flex
        flex-wrap: wrap
        gap: 5px

        .battle-scar-box
            position: relative
            height: 35px
            width: 35px
            border: 1px solid $color-text

            @media(max-width: 380px)
                height: 11px
                width: 11px

            &:last-of-type
                border: 1px solid $color-highlight-text

            .skull-icon
                opacity: .25
                z-index: 1
                color: $color-highlight-text
                font-size: 22px

            i, svg
                font-size: 18px
                position: absolute
                z-index: 2
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)

    &.play-mode
        .fighter-card-play-mode-info
            border-top: 1px solid $color-bg-1
            margin: 0 -15px
            padding: 15px
            background-color: $bg-color-card-2

            h3
                margin: 20px 0