// // // // //
//
// The collapse Sections in the fighter detail view
//

.WbbFighterCollapse
    margin-left: -15px
    margin-right: -15px

    &.fighter-card-collapse
        .fighter-card-collapse-content
            background-color: $color-bg-1
