// // // // //
//
// Bool Options in the Warband Builder
//

.WbbOptionItem
    margin-bottom: 15px
    .option-title
        position: relative
        padding: 15px 40px 15px 15px
        background-color: $color-bg-1

    .input-wrap
        display: inline-block
        padding: 15px
        margin: -15px 0px -15px -15px

    .option-name

    .option-cost

    .collapse-chevron-wrap
        position: absolute
        top: 0
        right: 0
        display: flex
        align-items: center
        justify-content: center
        height: 44px
        width: 44px
        cursor: pointer
        transition: color .2s ease, background-color .2s ease

        &:hover
            color: $color-highlight-text


    .option-details
        background-color: $color-bg-3

    .option-details-inner
        padding: 15px