// // // // //
//
// Option boxes in the Warband Builder
// - This is for single select options, that will trigger a modal for further selections
//

.WbbOptionBox
    margin: 15px 0

    .WbbOptionBox-title
        font-weight: bold
        margin-bottom: 10px

    .WbbOptionBox-body

        background-color: $color-bg-1
        padding: 10px 15px
        display: flex
        justify-content: space-between
        align-items: center