// // // // //
//
// Bool Options in the Warband Builder
//

.WbbOptionItem
    border-bottom: 1px solid $color-bg-1

    &:last-of-type
        border-bottom: none

    .option-title
        position: relative
        padding: 15px 40px 15px 15px
        background-color: $bg-color-card-2-el
        cursor: pointer

        .collapse-chevron-wrap

        &:hover

    .input-wrap
        display: inline-block
        padding: 15px
        margin: -15px 0px -15px -15px

    input
        cursor: pointer
    .option-name

    .option-cost

    .option-limit

    .option-details
        background-color: $bg-color-card-3


    .option-details-inner
        padding: 15px

body[data-print="print"]
    .option-title
        padding: 10px 10px 5px 10px
        background-color: $bg-color-card-2
        font-weight: bold
    .collapse-chevron-wrap
        display: none !important

    .option-details
        .option-details-inner
            padding: 0 10px 10px 10px