

.WbbRoundIndicator
    position: relative
    z-index: 5

    @media(max-width: 767px)
        &.details-open
            display: none

    .WbbRoundIndicator-scroll
        width: 100%
        overflow-x: scroll
        overflow-y: hidden
        height: 44px
        padding: 7px 0 7px 5px
        white-space: nowrap
        margin-bottom: 30px


        &::-webkit-scrollbar
            display: none

    .WbbRoundIndicator-scroll-inner
        position: relative
        display: flex
        flex-wrap: nowrap
        justify-content: flex-start
        gap: 20px
        width: max-content

        &:before
            content: ""
            width: calc(100% - 35px)
            height: 2px
            background-color: $color-text
            display: block
            position: absolute
            z-index: 0
            top: 50%
            transform: translateY(-50%)

