// // // // //
//
// Warband level Special Rules in the WBB
//


.WbbSpecialRule
    margin-bottom: 15px

    &:last-of-type
        margin-bottom: 0

    .WbbSpecialRule-title
        background-color: $bg-color-card-2-el
        padding: 10px 15px
        font-weight: bold

    .WbbSpecialRule-content

        background-color: $bg-color-card-3
        padding: 15px