// // // // //
//
// Textareas in WBB Edit view
//

.WbbTextarea
    margin: 15px 0

    .WbbTextarea-title
        font-weight: bold
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 10px

    textarea
        width: 100%
        font-size: 16px
        padding: 0.5rem
        -webkit-text-size-adjust: 100%

    .WbbTextarea-text
        padding: 15px
        background-color: $color-bg-4