// // // // //
//
// Warband Builder Warband Item
// - A Warband the user has created
//

.WbbWarbandListItem
    position: relative
    padding: 20px 20px 30px 20px
    margin-bottom: 30px

    background-color: $color-bg-2

    cursor: pointer
    transition: background-color .3s ease

    .warband-item-text-wrap
        position: relative
        z-index: 5
        text-shadow: 0px 0px 10px $color-bg-2

    .warband-item-image-wrap
        position: absolute
        z-index: 2
        top: 0
        right: 0
        height: 100%
        aspect-ratio: 2 / 1

        max-width: 75%

        &:before
            content: ""
            z-index: 3
            display: block
            opacity: 1
            position: absolute
            top: 0
            left: 0
            width: 50px
            height: 100%
            transition: opacity .3s ease

            background: linear-gradient(90deg,rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 0) 100%)

        &:after
            content: ""
            display: block
            opacity: 0
            position: absolute
            z-index: 3
            top: 0
            left: 0
            width: 50px
            height: 100%
            transition: opacity .3s ease

            background: linear-gradient(90deg,rgba(64, 64, 64, 1) 0%, rgba(64, 64, 64, 0) 100%)

    .warband-item-image
        position: absolute
        z-index: 2
        top: 0
        right: 0
        height: 100%
        width: 100%
        object-position: center
        object-fit: cover

    &:hover
        background-color: $color-bg-3

        .warband-item-image-wrap:before
            opacity: 0
        .warband-item-image-wrap:after
            opacity: 1


    .item-name
        font-size: 28px
        line-height: 1.2em
        font-family: $font-headline
        margin-bottom: 5px
        margin-right: 20px

    .item-faction

    .item-cost

    .item-campaign
        margin-top: 10px

    .Wbb-item-actions
        position: absolute
        top: 0
        right: 0
        padding: 25px 20px 20px 20px

        cursor: pointer
        transition: color .2s ease

        &:hover
            color: $color-highlight-text

