// // // // //
//
// A global Loading overlay
//

.LoadingOverlay-wrap-150
    position: relative
    min-height: 150px

.LoadingOverlay-wrap-100vh
    position: relative
    min-height: 100vh

.LoadingOverlay
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 10

    .LoadingOverlay-inner
        position: absolute
        top: 50%
        left: 0
        right: 0
        margin: auto

        transform: translateY(-50%)

        text-align: center

        i, svg
            color: $color-highlight-text
            font-size: 40px

        .text