// // // // //
//
// The Campaign Manager Styles
// - includes general re-usable styles
//

.CampaignManager

    .CampaignManager-header
        position: relative
        z-index: 5
        padding-top: 15px
        padding-bottom: 15px
        margin-bottom: 30px
        background-color: $color-highlight-bg
        //background-color: transparent

        @media(max-width: 767px)
            margin-bottom: 45px

        > .container
            position: relative

        h1
            margin: 0px 0
            font-size: 24px
            padding-right: 15px

            @media(min-width: 768px)
                font-size: 26px

    .CampaignManager-card
        margin-bottom: 30px
        background-color: $color-bg-2


    .CampaignManager-card-title
        background-color: $color-highlight-bg
        padding: 5px 15px

        > h2
            font-size: 22px
            margin: 0




