// // // //
//
// Setup / Create new campaign screen
//

.CampaignSetup
    padding-top: 30px
    padding-bottom: 30px


    .CampaignSetup-form-wrap
        min-height: 60vh
        display: flex
        flex-direction: column
        justify-content: center
    .CampaignSetup-form
        background-color: $color-bg-2

        .CampaignSetup-options-wrap
            background-color: $color-bg-2
            padding: 30px 15px 30px 30px
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center

            @media(max-width: 1199px)
                padding-right: 30px

            @media(max-width: 575px)
                padding: 30px 15px

            textarea
                border-radius: 0