

.Modal_STL_PromoItem_Detail

    .modal-body
        position: relative
        min-height: 400px
        padding: 0

    .close-btn
        position: absolute
        top: 15px
        right: 15px
        background-color: #eee
        color: #111
        width: 40px
        height: 40px
        border-radius: 50%

        i, svg
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            font-size: 20px

    .stl-detail-wrap
        padding: 15px


    .stl-detail-name
        margin: 10px 0 10px
        font-size: 32px

    .stl-detail-thumb
        margin: -15px -15px 0

        > img

    .stl-detail-creator

    .stl-detail-link-wrap
        margin: 20px 0

    .stl-detail-gallery
        margin-top: 30px

        .stl-detail-gallery-item

            > img
                width: 100%

