
.WbbExploration_Selection_GloryPurchase
    .equipment-select
        background-color: $color-bg-1
        padding: 10px 15px
        display: flex
        justify-content: space-between
        align-items: center

    .equipment-select-string
        font-weight: bold