

.WbbExploration_Selection_MultiEquipment
    .items-list
        .item
            position: relative
            background-color: $color-bg-4
            padding: 10px 25px 10px 10px
            border-bottom: 1px solid $color-bg-1

            .remove
                position: absolute
                top: 50%
                right: 0
                transform: translateY(-50%)
                color: $color-highlight-text
                padding: 10px 10px
                cursor: pointer