

.WbbExploration_Selection_SingleEquipment
    .equipment-select
        background-color: $bg-color-card-2-el
        padding: 10px 15px
        display: flex
        justify-content: space-between
        align-items: center

    .equipment-select-string
        font-weight: bold
