// // // // //
//
// Announcement in the History View
//

.CMHistoryAnnouncement
    margin-bottom: 15px

    .CMHistoryAnnouncement-title
        position: relative
        margin-bottom: 0px
        padding-right: 15px

    .CMHistoryAnnouncement-date
        font-size: 14px
        margin-bottom: 15px

    .CMHistoryAnnouncement-message
        font-size: 14px
        line-height: 1.4em
        white-space: pre-line
        margin-bottom: 10px
        position: relative

        &.is-long
            max-height: 7em
            overflow: hidden

            &:not(.is-expanded)
                &:after
                    content: ""
                    position: absolute
                    z-index: 2
                    bottom: 0
                    left: 0
                    width: 100%
                    display: block
                    height: 1.4em
                    background: linear-gradient(0deg, $color-bg-1 0%, transparent 100%)

        &.is-expanded
            max-height: none
            overflow: auto


    .show-more,
    .show-less
        display: inline-block
        opacity: 0.7
        cursor: pointer

        &:hover
            opacity: 1