// // // // //
//
// Announcement in the History View
//

.CMHistoryAnnouncement
    margin-bottom: 15px

    .CMHistoryAnnouncement-title
        margin-bottom: 0px
    .CMHistoryAnnouncement-date
        font-size: 14px
        margin-bottom: 15px

    .CMHistoryAnnouncement-message
        font-size: 14px

        .show-more
            display: inline-block
            margin-left: 3px
            opacity: 0.7
            cursor: pointer