// // // // //
//
// A textarea in the campaign manager
//


.CMTextarea
    margin: 15px 0

    .CMTextarea-title
        font-weight: bold
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 10px

    textarea
        width: 100%

    .WbbTextarea-text
        padding: 15px
        font-size: 14px
        background-color: $color-bg-4