// // // // //
//
// The simple print view Fighter Element like in the official roster sheet
//

.WbbPrintViewSimpleOverview
    page-break-inside: avoid

    .logo-wrap
        width: 40%
        margin: 15px auto 15px
        .logo
            width: 100%
            height: auto

    .headline
        text-align: center
        font-size: 38px
        color: $color-highlight-bg-2
        font-family: $font-ornamental

    .warband-box
        border: 2px solid $color-highlight-bg-2
        padding: 10px
        margin-bottom: 30px

    .warband-label
        font-family: $font-headline
        font-weight: bold
        font-size: 18px