// // // // //
//
// A static collapsible block
//

.StaticFaq
    margin-bottom: 15px

    .StaticFaq-title
        position: relative
        background-color: $color-bg-2
        cursor: pointer
        padding: 15px 40px 15px 15px

    .StaticFaq-content
        background-color: $color-bg-3

    .StaticFaq-content-inner
        padding: 15px