// // // // //
//
// Rules Filter Items
//


.FilterableCompendiumDisplay
    .filter-items-wrap
    .filter-item

    .keywords-table-wrap
        width: 100%
        overflow-x: auto

    .keywords-table
        background-color: $bg-color-card-1
        width: 100%

        th
            background-color: $color-highlight-bg
            padding: 15px
            color: #fff
            font-size: $font-size-h3
            font-family: $font-headline
            font-weight: normal

        td
            border: 1px solid $color-bg-1
            padding: 15px

            &:first-of-type
                font-weight: bold

.FilterableCompendiumDisplay-filter
    margin-top: 30px

    // This is the text search
    .ReturnTextFilterParam
        margin-bottom: 15px
        .input-group
            width: 100%

            .rbt
                width: calc( 100% - 45px)

            .rbt-menu
                > a
                    color: #111
            .search-btn
                width: 45px


.FilterableCompendiumDisplay-items