// // // // //
//
// A Text Banner for Links in the compendium
//


.RulesBannerText
    margin-bottom: 15px

    &.inline
        display: inline-block

    .RulesBannerText-link
        display: block
        background-color: $color-bg-2
        color: $color-text
        text-decoration: none
        padding: 20px 20px
        border-bottom: 1px solid $color-bg-0

    // level 2
    .RulesBannerText
        margin-bottom: 0

        .RulesBannerText-link
            padding-left: 30px
            background-color: $color-bg-3
