// // // // //
//
// Upgrade view for a model
//

.RulesModelUpgrade
    &:not(:last-of-type)
        margin-bottom: 15px

    .RulesModelUpgrade-title
        font-weight: bold
        margin-bottom: 5px

        .cost
            font-weight: normal

        .RulesModelUpgrade-description

    .ModelUpgradeDisplay

        .ModelUpgradeDisplay-limitations
            font-family: $font-keyword
            margin-bottom: 5px