// // // // //
//
// rulesHeadlineDisplay
// - Headlines in the rules sections
//

// rules wrapper class

.headline-rules


    .headline-link-btn
        opacity: 0
        cursor: pointer
        transition: opacity .2s ease, color .2s ease

        &:hover
            color: $red-brand

    &:hover
        .headline-link-btn
            opacity: 1