// // // // //
//
// Glorious deed item in the rules
//



.RulesGloriousDeed

.rules-glorious-deed
    margin-bottom: 20px

    .glorious-deed-title
        background-color: $color-highlight-bg
        color: $color-text
        padding: 5px 15px
        margin: 0

    .glorious-deed-content
        background-color: $color-bg-2
        color: $color-text
        padding: 15px
