.OffcanvasMenuSettings
    position: absolute
    z-index: 99
    bottom: 0
    left: 0
    right: 0
    color: $color-text

    .OffcanvasMenuSettings-title
        padding: 15px
        position: relative
        border-top: 1px solid $color-bg-0
        background-color: $color-bg-1
        cursor: pointer

    .collapse-icon-wrap
        position: absolute
        top: 0
        right: 0
        bottom: 0
        display: flex
        align-items: center
        justify-content: center
        min-height: 40px
        width: 44px
        transition: color .2s ease, background-color .2s ease

        .fa-spin
            color: $color-highlight

    .OffcanvasMenuSettings-content
        padding: 0px 20px
        background-color: $color-bg-2

        .form-switch