// // // // //
//
// RulesOverlay Component
// - This is an overlay for equipment items
//

.RulesOverlay
    border-radius: 0

    .modal-body
        padding: 0

    .rules-overlay-head
        position: relative
        padding: 5px 15px
        background-color: $color-highlight-bg
        font-size: $font-size-h3
        font-family: $font-headline

        .rule-name

        .rules-overlay-close
            position: absolute
            top: 0
            right: 0
            padding: 5px 10px
            width: 40px
            height: 100%
            font-size: 24px
            cursor: pointer
            i,svg
                position: absolute
                top: 50%
                left: 10px
                transform: translateY(-50%)

    .rules-overlay-content
        padding: 20px 15px
        font-size: 14px
        background-color: $color-bg-2

        .text-element
            &:not(last-of-type)
                margin-bottom: 15px


        // Models in popups
        .RulesModelDisplay
            margin: -20px -15px

            .fighter-card-title
                display: none