// // // // //
//
// Display of a rule text and its contents
//

.RuleDisplay

    .RuleDisplay-description
        margin-bottom: 15px

    .RuleDisplay-Upgrade-Title
        font-size: 18px
        font-weight: bold
        margin-bottom: 15px

    .ModelUpgradeDisplay

        .ModelUpgradeDisplay-limitations
            font-family: $font-keyword
            margin-bottom: 5px

        .UpgradeDisplay
