



// // // // //
// Menu in main content

.main-content
    .RulesMenuBody
        height: auto
        padding-bottom: 0
        overflow-y: auto
        margin-bottom: 30px
        @media(max-width: 991px)
            display: none

        .menu-list.level-0
            > li
                > .menu-list-item-anchor-wrap > a
                    background-color: $bg-color-card-1
                    border-bottom: 1px solid $color-bg-1

        .menu-list.level-1
            > li
                > .menu-list-item-anchor-wrap > a
                    background-color: $bg-color-card-2
                    border-bottom: 1px solid $color-bg-2

        .menu-list.level-2
            > li
                > .menu-list-item-anchor-wrap > a
                    background-color: $bg-color-card-3
                    border-bottom: 1px solid $color-bg-3

