// // // // //
//
// RulesEquipmentEntry
// This is for Equipment and weapons in the rules content
//

.RulesEquipmentEntry
    margin-bottom: 15px
    background-color: $bg-color-card-1
    padding-bottom: 1px

    .equipment-name
        background-color: $color-highlight-bg
        padding: 5px 10px
        margin: 0

    .rules-equipment-stats-table
        width: calc(100% + 30px)
        margin: 0


        td
            padding: 15px
            border: 1px solid $color-bg-1

        .label-cell
            font-weight: bold

    .rules-text-element
        padding:  0 15px
        &:first-of-type
            margin-top: 15px
        &:last-of-type
            margin-bottom: 15px

        &:not(last-of-type)
            //margin-bottom: 15px

        .text-label
            font-weight: bold