// // // // //
//
// Collapsible Elements in the Compendium view
//

.RulesCollapsibleContent

    &:first-of-type
        border-top: 1px solid $color-bg-1

    .RulesCollapsibleContent-title
        position: relative
        display: flex
        justify-content: space-between
        padding: 15px 15px

        //font-weight: bold
        font-size: 18px
        background-color: $color-bg-2
        cursor: pointer
        border-bottom: 1px solid $color-bg-1

        .text

    .RulesCollapsibleContent-content
        background-color: $color-bg-3

        .RulesCollapsibleContent-content-inner
            padding: 15px
