// // // // //
//
// Blog Article Page
//

.BlogArticlePage
    margin-bottom: 60px



    h1
        margin-bottom: 5px

    .post-date-author
        margin-bottom: 30px

    .article-wrap // the <article> element
        @media(min-width: 786px) and (max-width: 1199px)
            margin: auto
            width: 75%
        @media(min-width: 1200px)
            margin: auto
            width: 65%

        .wp-block-heading
            margin-top: 30px

    .blog-hero-image-wrap
        margin-bottom: 30px
        aspect-ratio: 2/1
        position: relative

        .blog-hero-image
            position: absolute
            top: 0
            left: 0
            object-fit: cover
            height: 100%
            width: 100%

    .article-content // the main text wrapper

    // WP content styles

    // gallery block
    .wp-block-gallery
        display: grid
        gap: 10px

        &.columns-2
            grid-template-columns: repeat(2, 1fr)
        &.columns-3
            grid-template-columns: repeat(3, 1fr)

            @media(max-width: 575px)
                grid-template-columns: repeat(2, 1fr)
        .wp-block-image
            margin-bottom: 0

    // Image Block
    .wp-block-image
        > a // link in images
            display: block

        img // the image itself
            width: 100%
            height: auto

    @media (min-width: 768px)

        .wp-block-columns
            display: flex
            flex-wrap: nowrap
            margin-left: -15px
            margin-right: -15px

            .wp-block-column
                padding: 15px
                width: 50%

    // previous / next navigation in blog articles like .rules-page-links
    .blog-adjacent-navigation
        display: flex
        justify-content: space-between
        gap: 15px // min gap
        margin: 30px 0 40px

    .blog-adjacent-navigation_element
        display: inline-block
        position: relative
        color: $color-text
        text-decoration: none
        background-color: $color-bg-2
        border-bottom: 1px solid $color-highlight
        padding: 10px 20px

        transition: background-color .2s ease, border-bottom-color .2s ease

        &:hover
            background-color: $color-bg-3
            border-bottom-color: $color-highlight-text
            text-decoration: none
            color: currentColor

        .page-link-label
            display: block
            color: $color-highlight-text
            font-size: 14px
            margin-bottom: 2px


    .blog-adjacent-navigation_next
        i, svg
            left: 5px
    .blog-adjacent-navigation_previous
        margin-left: auto
        text-align: right

        i, svg
            right: 5px
    // END Blog post navigation

