// // // // //
//
// Blog Article Page
//

.BlogArticlePage
    margin-top: 60px
    margin-bottom: 60px

    h1

        margin-bottom: 5px

    .post-date-author
        margin-bottom: 30px

    .article-wrap
        @media(min-width: 786px) and (max-width: 1199px)
            margin: auto
            width: 75%
        @media(min-width: 1200px)
            margin: auto
            width: 65%

        .wp-block-heading
            margin-top: 30px